<!DOCTYPE HTML>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png">
<link rel="apple-touch-startup-image" href="images/splash/splash-screen.png" media="screen and (max-device-width: 320px)">
<link rel="apple-touch-startup-image" href="images/splash/splash-screen@2x.png" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)">
<link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen@3x.png">
<link rel="apple-touch-startup-image" sizes="1024x748" href="images/splash/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)">
<link rel="apple-touch-startup-image" sizes="768x1004" href="images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)">
<link rel="apple-touch-startup-image" sizes="1536x2008" href="images/splash/splash-screen-ipad-portrait-retina.png" media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)">
<link rel="apple-touch-startup-image" sizes="1496x2048" href="{NCCMS:$StylePath}/img/splash-screen-ipad-landscape-retina.png" media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)">
<title>{NCCMS:$WebTitle}</title>
<meta name="author" content="{NCCMS:$WebKeywords}">
<meta name="keywords" content="{NCCMS:$WebKeywords}">
<meta name="description" content="{NCCMS:$WebDescription}">
<link href="{NCCMS:$StylePath}/css/style.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/framework.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/owl.theme.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/swipebox.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/animate.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- 页头 开始 -->
{NCCMS-include:Header}
<!-- 页头 结束 -->
<div class="header">
<a class="open-nav" href="#"><i class="fa fa-navicon"></i></a>
<a href="{NCCMS:$WEBUrl}" class="header-message">{NCCMS:$WebTitle}</a>
<a class="open-socials" href="#"><i class="fa fa-share-alt"></i></a>
</div>
<div id="content" class="snap-content">
<div class="full-slider full-bottom" data-snap-ignore="true">
{NCCMS-Index:Type=1,Count=4}
<div><div class="slider-image" style="background-image:url({NCCMS-Index:Pic});"><div class="slider-style-1"><h2>{NCCMS-Index:Rand} 人喜欢</h2><h3>{NCCMS-Index:Name}</h3><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}" class="slider-button-1 button-green">在线播放</a></div></div></div>
{/NCCMS-Index}
</div>
<div class="content">
{NCCMS-TAd}
<p style="margin:5px 0;"><a href="{NCCMS-TAd:Url}" target="_blank"><img style="width:{NCCMS-TAd:Width};height:{NCCMS-TAd:Height};" src="{NCCMS-TAd:Pic}"></a></p>
{/NCCMS-TAd}
</div>
<div class="content-heading"><h4>最新视频</h4><p>News</p><i class="fa fa-play"></i><div class="overlay"></div><img src="{NCCMS:$StylePath}/img/5w.jpg" alt="img"></div>
<div class="content">
<div class="decoration"></div>
<div class="container no-bottom">
{NCCMS-Index:Type=2,Count=4}
<div class="one-half-responsive"><p class="thumb-left no-bottom"><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="imgPlay" style="height:200px;object-fit:cover;"></a></p></div><div class="decoration hide-if-responsive"></div>
{/NCCMS-Index}
{NCCMS-Index:Type=3,Count=4}
<div class="one-half-responsive"><p class="thumb-left no-bottom"><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="imgPlay" style="height:200px;object-fit:cover;"></a></p></div><div class="decoration hide-if-responsive"></div>
{/NCCMS-Index}
</div>
</div>
<div class="content-heading"><h4>热门视频</h4><p>Hot</p><i class="fa fa-play"></i><div class="overlay"></div><img src="{NCCMS:$StylePath}/img/6w.jpg" alt="img"></div>
<div class="content">
<div class="decoration"></div>
<div class="container">
<a href="#" class="next-staff"></a>
<a href="#" class="prev-staff"></a>
<div class="staff-slider" data-snap-ignore="true">
{NCCMS-Index:Type=4,Count=4}
<div><div class="staff-item"><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="imgPlay" style="height:200px;object-fit:cover;"></a></div></div>
{/NCCMS-Index}
{NCCMS-Index:Type=5,Count=4}
<div><div class="staff-item"><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="imgPlay" style="height:200px;object-fit:cover;"></a></div></div>
{/NCCMS-Index}
</div>
</div>
<div class="decoration"></div>
</div>
<div class="content-heading"><h4>推荐视频</h4><p>Best</p><i class="fa fa-play"></i><div class="overlay"></div><img src="{NCCMS:$StylePath}/img/7w.jpg" alt="img"></div>
<div class="content">
<div class="decoration"></div>
<div class="container">
{NCCMS-Index:Type=7,Count=5}
<div class="one-half-responsive"><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="responsive-image" style="height:200px;object-fit:cover;"></a></div>
{/NCCMS-Index}
{NCCMS-Index:Type=8,Count=5}
<div class="one-half-responsive"><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="responsive-image" style="height:200px;object-fit:cover;"></a></div>
{/NCCMS-Index}
</div>
<div class="decoration"></div>
</div>
<!-- 页尾 开始 -->
{NCCMS-include:Footer}
<!-- 页尾 结束 -->
</div>
</div>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/jquery.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/jqueryui.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/framework.plugins.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/custom.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/language.js"></script>
</body>
</html>