<!DOCTYPE HTML>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png">
<link rel="apple-touch-startup-image" href="images/splash/splash-screen.png" media="screen and (max-device-width: 320px)">
<link rel="apple-touch-startup-image" href="images/splash/splash-screen@2x.png" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)">
<link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen@3x.png">
<link rel="apple-touch-startup-image" sizes="1024x748" href="images/splash/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)">
<link rel="apple-touch-startup-image" sizes="768x1004" href="images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)">
<link rel="apple-touch-startup-image" sizes="1536x2008" href="images/splash/splash-screen-ipad-portrait-retina.png" media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)">
<link rel="apple-touch-startup-image" sizes="1496x2048" href="{NCCMS:$StylePath}/img/splash-screen-ipad-landscape-retina.png" media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)">
<title>{NCCMS:$WebTitle}-{NCCMS-Radio-List:Title}</title>
<meta name="author" content="{NCCMS:$WebTitle}">
<meta name="keywords" content="{NCCMS:$WebKeywords},{NCCMS-Radio-List:Title}">
<meta name="description" content="{NCCMS:$WebDescription},{NCCMS-Radio-List:Title}">
<link href="{NCCMS:$StylePath}/css/style.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/framework.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/owl.theme.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/swipebox.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/animate.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- 页头 开始 -->
{NCCMS-include:Header}
<!-- 页头 结束 -->
<div class="header">
<a class="open-nav" href="#"><i class="fa fa-navicon"></i></a>
<a class="header-message" href="{NCCMS:$WEBUrl}">{NCCMS-Radio-List:Title}</a>
<a class="open-socials" href="#"><i class="fa fa-share-alt"></i></a>
</div>
<div id="content" class="snap-content">
<div class="full-bottom"></div>
<div class="content">
<div class="adaptive-style">
<h4>{NCCMS-Radio-List:Title}</h4>
<a class="adaptive-three-activate" href="#"><i class="fa fa-th"></i></a>
<a class="adaptive-two-activate" href="#"><i class="fa fa-th-large"></i></a>
<a class="adaptive-one-activate active-adaptive-style" href="#"><i class="fa fa-navicon"></i></a>
</div>
<div class="clear"></div>
{NCCMS-TAd}
<p style="margin:5px 0;"><a href="{NCCMS-TAd:Url}" target="_blank"><img style="width:{NCCMS-TAd:Width};height:{NCCMS-TAd:Height};" src="{NCCMS-TAd:Pic}"></a></p>
{/NCCMS-TAd}
<div class="decoration"></div>
<div class="portfolio-adaptive adaptive-one">
{NCCMS-Radio-List:Count=24}
<div class="adaptive-item"><a href="{NCCMS-Radio-List:DUrl}" title="{NCCMS-Radio-List:Name}"><img src="{NCCMS-Radio-List:Pic}" alt="{NCCMS-Radio-List:Name}" class="responsive-image"></a></div>
{/NCCMS-Radio-List}
</div>
<div class="pagination" id="wr-page">
<script src="{NCCMS:$StylePath}/js/jQuery.js"></script>
<script src="{NCCMS:$StylePath}/js/page.js?t=1"></script>
<script type="text/javascript">
$("#wr-page").wrpage({
pagesize: '{NCCMS-Radio-List:totalPage}',
wr_current: '{NCCMS-Radio-List:currentPage}',
baseUrl: '{NCCMS-Radio-List:baseUrl}',
})
</script>
</div>
<div class="decoration"></div>
</div>
<!-- 页尾 开始 -->
{NCCMS-include:Footer}
<!-- 页尾 结束 -->
</div>
</div>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/jquery.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/jqueryui.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/framework.plugins.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/custom.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/language.js"></script>
</body>
</html>
