<!DOCTYPE HTML>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{NCCMS:$StylePath}/img/splash-icon.png">
<link rel="apple-touch-startup-image" href="{NCCMS:$StylePath}/img/splash-screen.png" media="screen and (max-device-width: 320px)">
<link rel="apple-touch-startup-image" href="{NCCMS:$StylePath}/img/splash-screen@2x.png" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)">
<link rel="apple-touch-startup-image" sizes="640x1096" href="{NCCMS:$StylePath}/img/splash-screen@3x.png">
<link rel="apple-touch-startup-image" sizes="1024x748" href="{NCCMS:$StylePath}/img/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)">
<link rel="apple-touch-startup-image" sizes="768x1004" href="{NCCMS:$StylePath}/img/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)">
<link rel="apple-touch-startup-image" sizes="1536x2008" href="{NCCMS:$StylePath}/img/splash-screen-ipad-portrait-retina.png" media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)">
<link rel="apple-touch-startup-image" sizes="1496x2048" href="{NCCMS:$StylePath}/img/splash-screen-ipad-landscape-retina.png" media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)">
<title>{NCCMS:$WebTitle}-{NCCMS-Search-List:Title}</title>
<meta name="author" content="{NCCMS:$WebTitle}">
<meta name="keywords" content="{NCCMS:$WebKeywords},{NCCMS-Search-List:Title}">
<meta name="description" content="{NCCMS:$WebDescription},{NCCMS-Search-List:Title}">
<link href="{NCCMS:$StylePath}/css/style.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/framework.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/owl.carousel.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/owl.theme.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/swipebox.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/colorbox.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- 页尾 开始 -->
{NCCMS-include:Header}
<!-- 页尾 结束 -->
<div class="content">
{NCCMS-TAd}
<p style="margin:5px 0;"><a href="{NCCMS-TAd:Url}" target="_blank"><img style="width:{NCCMS-TAd:Width};height:{NCCMS-TAd:Height};" src="{NCCMS-TAd:Pic}"></a></p>
{/NCCMS-TAd}
<div class="container no-bottom">
{NCCMS-Search-List:Count=21}
<div class="portfolio-item-full-width"><a href="{NCCMS-Search-List:DUrl}" title="{NCCMS-Search-List:Name}"><img src="{NCCMS-Search-List:Pic}" alt="{NCCMS-Search-List:Name}" class="responsive-image" style="height:200px;object-fit:cover;"></a><h4>{NCCMS-Search-List:Rand} 人观看</h4><p>{NCCMS-Search-List:Name}</p></div><div class="decoration"></div>
{/NCCMS-Search-List}
<div class="pagination" id="wr-page">
<script src="{NCCMS:$StylePath}/js/jQuery.js"></script>
<script src="{NCCMS:$StylePath}/js/page.js?t=1"></script>
<script type="text/javascript">
$("#wr-page").wrpage({
pagesize: '{NCCMS-Search-List:totalPage}',
wr_current: '{NCCMS-Search-List:currentPage}',
baseUrl: '{NCCMS-Search-List:baseUrl}',
})
</script>
</div>
</div>
<div class="decoration"></div>
<!-- 页尾 开始 -->
{NCCMS-include:Footer}
<!-- 页尾 结束 -->
</div>
<div class="bottom-deco"></div>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/jqueryui.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/jquery.swipebox.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/colorbox.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/snap.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/contact.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/custom.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/framework.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/framework.launcher.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/language.js"></script>
</body>
</html>