<div class="side-nav-panel-right">
<ul id="slide-out-right" class="side-nav side-nav-panel collapsible">
<li class="profil"><img src="{NCCMS:$WebLogo}" alt="{NCCMS:$WebTitle}"><h2>{NCCMS:$WebTitle}</h2></li>
<li><a href="{NCCMS:$UserUrl}"><i class="fa fa-user"></i> 会员中心</a></li>
{NCCMS-IeUrl}
<li><a href="{NCCMS-IeUrl:Url}" title="{NCCMS-IeUrl:Name}" target="_blank"><i class="fa fa-link"></i> {NCCMS-IeUrl:Name}</a></li>
{/NCCMS-IeUrl}
<li><a href="#" onclick="googleTranslate('en|af');"><i class="fa fa-language"></i> 南非语</a></li>
<li><a href="#" onclick="googleTranslate('en|sq');"><i class="fa fa-language"></i> 阿尔巴尼亚语</a></li>
<li><a href="#" onclick="googleTranslate('en|ar');"><i class="fa fa-language"></i> 阿拉伯</a></li>
<li><a href="#" onclick="googleTranslate('en|hy');"><i class="fa fa-language"></i> 亚美尼亚人</a></li>
<li><a href="#" onclick="googleTranslate('en|az');"><i class="fa fa-language"></i> 阿塞拜疆</a></li>
<li><a href="#" onclick="googleTranslate('en|eu');"><i class="fa fa-language"></i> 巴斯克</a></li>
<li><a href="#" onclick="googleTranslate('en|be');"><i class="fa fa-language"></i> 白俄罗斯语</a></li>
<li><a href="#" onclick="googleTranslate('en|bg');"><i class="fa fa-language"></i> 保加利亚语</a></li>
<li><a href="#" onclick="googleTranslate('en|ca');"><i class="fa fa-language"></i> 加泰罗尼亚语</a></li>
<li><a href="#" onclick="googleTranslate('en|zh-CN');"><i class="fa fa-language"></i> 简体中文</a></li>
<li><a href="#" onclick="googleTranslate('en|zh-TW');"><i class="fa fa-language"></i> 繁体中文</a></li>
<li><a href="#" onclick="googleTranslate('en|hr');"><i class="fa fa-language"></i> 克罗地亚语</a></li>
<li><a href="#" onclick="googleTranslate('en|cs');"><i class="fa fa-language"></i> 捷克文</a></li>
<li><a href="#" onclick="googleTranslate('en|da');"><i class="fa fa-language"></i> 丹麦文</a></li>
<li><a href="#" onclick="googleTranslate('en|nl');"><i class="fa fa-language"></i> 荷兰语</a></li>
<li><a href="#" onclick="googleTranslate('en|en');"><i class="fa fa-language"></i> 英语</a></li>
<li><a href="#" onclick="googleTranslate('en|et');"><i class="fa fa-language"></i> 爱沙尼亚语</a></li>
<li><a href="#" onclick="googleTranslate('en|tl');"><i class="fa fa-language"></i> 菲律宾语</a></li>
<li><a href="#" onclick="googleTranslate('en|fi');"><i class="fa fa-language"></i> 芬兰</a></li>
<li><a href="#" onclick="googleTranslate('en|fr');"><i class="fa fa-language"></i> 法文</a></li>
<li><a href="#" onclick="googleTranslate('en|gl');"><i class="fa fa-language"></i> 加利西亚人</a></li>
<li><a href="#" onclick="googleTranslate('en|ka');"><i class="fa fa-language"></i> 格鲁吉亚人</a></li>
<li><a href="#" onclick="googleTranslate('en|de');"><i class="fa fa-language"></i> 德语</a></li>
<li><a href="#" onclick="googleTranslate('en|el');"><i class="fa fa-language"></i> 希腊语</a></li>
<li><a href="#" onclick="googleTranslate('en|ht');"><i class="fa fa-language"></i> 海地克里奥尔语</a></li>
<li><a href="#" onclick="googleTranslate('en|iw');"><i class="fa fa-language"></i> 希伯来语</a></li>
<li><a href="#" onclick="googleTranslate('en|hi');"><i class="fa fa-language"></i> 印地语</a></li>
<li><a href="#" onclick="googleTranslate('en|hu');"><i class="fa fa-language"></i> 匈牙利</a></li>
<li><a href="#" onclick="googleTranslate('en|is');"><i class="fa fa-language"></i> 冰岛</a></li>
<li><a href="#" onclick="googleTranslate('en|id');"><i class="fa fa-language"></i> 印度尼西亚</a></li>
<li><a href="#" onclick="googleTranslate('en|ga');"><i class="fa fa-language"></i> 爱尔兰人</a></li>
<li><a href="#" onclick="googleTranslate('en|it');"><i class="fa fa-language"></i> 意大利文</a></li>
<li><a href="#" onclick="googleTranslate('en|ja');"><i class="fa fa-language"></i> 日本</a></li>
<li><a href="#" onclick="googleTranslate('en|ko');"><i class="fa fa-language"></i> 韩语</a></li>
<li><a href="#" onclick="googleTranslate('en|lv');"><i class="fa fa-language"></i> 拉脱维亚语</a></li>
<li><a href="#" onclick="googleTranslate('en|lt');"><i class="fa fa-language"></i> 立陶宛语</a></li>
<li><a href="#" onclick="googleTranslate('en|mk');"><i class="fa fa-language"></i> 马其顿语</a></li>
<li><a href="#" onclick="googleTranslate('en|ms');"><i class="fa fa-language"></i> 马来语</a></li>
<li><a href="#" onclick="googleTranslate('en|mt');"><i class="fa fa-language"></i> 马耳他语</a></li>
<li><a href="#" onclick="googleTranslate('en|no');"><i class="fa fa-language"></i> 挪威</a></li>
<li><a href="#" onclick="googleTranslate('en|fa');"><i class="fa fa-language"></i> 波斯语</a></li>
<li><a href="#" onclick="googleTranslate('en|pl');"><i class="fa fa-language"></i> 抛光</a></li>
<li><a href="#" onclick="googleTranslate('en|pt');"><i class="fa fa-language"></i> 葡萄牙语</a></li>
<li><a href="#" onclick="googleTranslate('en|ro');"><i class="fa fa-language"></i> 罗马尼亚语</a></li>
<li><a href="#" onclick="googleTranslate('en|ru');"><i class="fa fa-language"></i> 俄语</a></li>
<li><a href="#" onclick="googleTranslate('en|sr');"><i class="fa fa-language"></i> 塞尔维亚</a></li>
<li><a href="#" onclick="googleTranslate('en|sk');"><i class="fa fa-language"></i> 斯洛伐克文</a></li>
<li><a href="#" onclick="googleTranslate('en|sl');"><i class="fa fa-language"></i> 斯洛文尼亚文</a></li>
<li><a href="#" onclick="googleTranslate('en|es');"><i class="fa fa-language"></i> 西班牙文</a></li>
<li><a href="#" onclick="googleTranslate('en|sw');"><i class="fa fa-language"></i> 斯瓦希里语</a></li>
<li><a href="#" onclick="googleTranslate('en|sv');"><i class="fa fa-language"></i> 瑞典</a></li>
<li><a href="#" onclick="googleTranslate('en|th');"><i class="fa fa-language"></i> 泰国</a></li>
<li><a href="#" onclick="googleTranslate('en|tr');"><i class="fa fa-language"></i> 土耳其</a></li>
<li><a href="#" onclick="googleTranslate('en|uk');"><i class="fa fa-language"></i> 乌克兰</a></li>
<li><a href="#" onclick="googleTranslate('en|ur');"><i class="fa fa-language"></i> 乌尔都语</a></li>
<li><a href="#" onclick="googleTranslate('en|vi');"><i class="fa fa-language"></i> 越南文</a></li>
<li><a href="#" onclick="googleTranslate('en|cy');"><i class="fa fa-language"></i> 威尔士语</a></li>
<li><a href="#" onclick="googleTranslate('en|yi');"><i class="fa fa-language"></i> 意第绪语</a></li>
<div id="google_translate_element2"></div>
</ul>
</div>
<div class="navbar-bottom">
<div class="row">
<div class="col s2"><a href="{NCCMS:$WEBUrl}"><i class="fa fa-home"></i></a></div>
<div class="col s2"><a href="#animatedModal2" id="nav-menu"><i class="fa fa-play"></i></a></div>
<div class="col s2"><a href="#animatedModal3" id="nav-menu1"><i class="fa fa-headphones"></i></a></div>
<div class="col s2"><a href="#animatedModal4" id="nav-menu2"><i class="fa fa-cloud-download"></i></a></div>
<div class="col s2"><a href="#animatedModal5" id="nav-menu3"><i class="fa fa-image"></i></a></div>
<div class="col s2"><a href="#animatedModal6" id="nav-menu4"><i class="fa fa-book"></i></a></div>
</div>
</div>
<div class="menus" id="animatedModal2">
<div class="close-animatedModal2 close-icon"><i class="fa fa-close"></i></div>
<div class="modal-content">
<div class="container">
<div class="row">
{NCCMS:Type=1,2,3}
<div class="col s4"><a href="{NCCMS:Url}" title="{NCCMS:Name}" class="button-link"><div class="menu-link"><div class="icon"><i class="fa fa-play"></i></div>{NCCMS:Name}</div></a></div>
{/NCCMS:Type}
</div>
<div class="row">
{NCCMS:Type=4,5,6}
<div class="col s4"><a href="{NCCMS:Url}" title="{NCCMS:Name}" class="button-link"><div class="menu-link"><div class="icon"><i class="fa fa-play"></i></div>{NCCMS:Name}</div></a></div>
{/NCCMS:Type}
</div>
</div>
<div class="row">
{NCCMS:Type=7,8,9}
<div class="col s4"><a href="{NCCMS:Url}" title="{NCCMS:Name}" class="button-link"><div class="menu-link"><div class="icon"><i class="fa fa-play"></i></div>{NCCMS:Name}</div></a></div>
{/NCCMS:Type}
</div>
<div class="row">
{NCCMS:Type=10,11,12}
<div class="col s4"><a href="{NCCMS:Url}" title="{NCCMS:Name}" class="button-link"><div class="menu-link"><div class="icon"><i class="fa fa-play"></i></div>{NCCMS:Name}</div></a></div>
{/NCCMS:Type}
</div>
<div class="row">
{NCCMS:Type=13,14,15}
<div class="col s4"><a href="{NCCMS:Url}" title="{NCCMS:Name}" class="button-link"><div class="menu-link"><div class="icon"><i class="fa fa-play"></i></div>{NCCMS:Name}</div></a></div>
{/NCCMS:Type}
</div>
<div class="row">
{NCCMS:Type=16,17,18}
<div class="col s4"><a href="{NCCMS:Url}" title="{NCCMS:Name}" class="button-link"><div class="menu-link"><div class="icon"><i class="fa fa-play"></i></div>{NCCMS:Name}</div></a></div>
{/NCCMS:Type}
</div>
</div>
</div>
<div class="menus1" id="animatedModal3">
<div class="close-animatedModal3 close-icon"><i class="fa fa-close"></i></div>
<div class="modal-content">
<div class="container">
<div class="row">
{NCCMS:Type=31,32,33}
<div class="col s4"><a href="{NCCMS:Url}" title="{NCCMS:Name}" class="button-link"><div class="menu-link"><div class="icon"><i class="fa fa-headphones"></i></div>{NCCMS:Name}</div></a></div>
{/NCCMS:Type}
</div>
<div class="row">
{NCCMS:Type=34}
<div class="col s4"><a href="{NCCMS:Url}" title="{NCCMS:Name}" class="button-link"><div class="menu-link"><div class="icon"><i class="fa fa-headphones"></i></div>{NCCMS:Name}</div></a></div>
{/NCCMS:Type}
</div>
</div>
</div>
</div>
<div class="menus2" id="animatedModal4">
<div class="close-animatedModal4 close-icon"><i class="fa fa-close"></i></div>
<div class="modal-content">
<div class="container">
<div class="row">
{NCCMS:Type=35,36}
<div class="col s4"><a href="{NCCMS:Url}" title="{NCCMS:Name}" class="button-link"><div class="menu-link"><div class="icon"><i class="fa fa-cloud-download"></i></div>{NCCMS:Name}</div></a></div>
{/NCCMS:Type}
</div>
</div>
</div>
</div>
<div class="menus3" id="animatedModal5">
<div class="close-animatedModal5 close-icon"><i class="fa fa-close"></i></div>
<div class="modal-content">
<div class="container">
<div class="row">
{NCCMS:Type=25,26,27}
<div class="col s4"><a href="{NCCMS:Url}" title="{NCCMS:Name}" class="button-link"><div class="menu-link"><div class="icon"><i class="fa fa-image"></i></div>{NCCMS:Name}</div></a></div>
{/NCCMS:Type}
</div>
<div class="row">
{NCCMS:Type=28,29,30}
<div class="col s4"><a href="{NCCMS:Url}" title="{NCCMS:Name}" class="button-link"><div class="menu-link"><div class="icon"><i class="fa fa-image"></i></div>{NCCMS:Name}</div></a></div>
{/NCCMS:Type}
</div>
</div>
</div>
</div>
<div class="menus4" id="animatedModal6">
<div class="close-animatedModal6 close-icon"><i class="fa fa-close"></i></div>
<div class="modal-content">
<div class="container">
<div class="row">
{NCCMS:Type=19,20,21}
<div class="col s4"><a href="{NCCMS:Url}" title="{NCCMS:Name}" class="button-link"><div class="menu-link"><div class="icon"><i class="fa fa-book"></i></div>{NCCMS:Name}</div></a></div>
{/NCCMS:Type}
</div>
<div class="row">
{NCCMS:Type=22,23,24}
<div class="col s4"><a href="{NCCMS:Url}" title="{NCCMS:Name}" class="button-link"><div class="menu-link"><div class="icon"><i class="fa fa-book"></i></div>{NCCMS:Name}</div></a></div>
{/NCCMS:Type}
</div>
</div>
</div>
</div>