<!DOCTYPE HTML>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{NCCMS:$StylePath}/img/splash-icon.png">
<link rel="apple-touch-startup-image" href="{NCCMS:$StylePath}/img/splash-screen.png" media="screen and (max-device-width: 320px)">
<link rel="apple-touch-startup-image" href="{NCCMS:$StylePath}/img/splash-screen@2x.png" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)">
<link rel="apple-touch-startup-image" sizes="640x1096" href="{NCCMS:$StylePath}/img/splash-screen@3x.png">
<title>{NCCMS:$WebTitle}</title>
<meta name="author" content="{NCCMS:$WebKeywords}">
<meta name="keywords" content="{NCCMS:$WebKeywords}">
<meta name="description" content="{NCCMS:$WebDescription}">
<link href="{NCCMS:$StylePath}/css/style.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/menus-background.css" rel="stylesheet" type="text/css" id="pagestyle">
<link href="{NCCMS:$StylePath}/css/framework.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/owl.carousel.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/owl.theme.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/swipebox.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/colorbox.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- 页头 开始 -->
{NCCMS-include:Header}
<!-- 页头 结束 -->
<div id="content" class="page-content">
<div class="content">
<div class="bread-crumb"><a href="{NCCMS:$UserUrl}" title="会员中心">会员中心</a></div>
<div class="decoration"></div>
<div class="container no-bottom">
<div class="slider-controls" data-snap-ignore="true">
{NCCMS-Index:Type=1,Count=4}
<div><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="responsive-image" style="height:240px;object-fit:cover;"></a><p class="small-slider-caption">{NCCMS-Index:Rand} 人喜欢</p></div>
{/NCCMS-Index}
</div>
<a href="#" class="next-slider"></a>
<a href="#" class="prev-slider"></a>
</div>
<div class="decoration"></div>
<div class="container no-bottom"><h4 class="uppercase">最新视频</h4></div>
<div class="container no-bottom">
{NCCMS-TAd}
<p style="margin:5px 0;"><a href="{NCCMS-TAd:Url}" target="_blank"><img style="width:{NCCMS-TAd:Width};height:{NCCMS-TAd:Height};" src="{NCCMS-TAd:Pic}"></a></p>
{/NCCMS-TAd}
{NCCMS-Index:Type=2,Count=6}
<p class="column"><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="responsive-image" style="height:200px;object-fit:cover;"></a></p>
{/NCCMS-Index}
</div>
<div class="decoration"></div>
<div class="container no-bottom"><h4 class="uppercase">热门视频</h4></div>
<ul class="gallery">
{NCCMS-Index:Type=3,Count=6}
<li><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="responsive-image" style="height:200px;object-fit:cover;"></a></li>
{/NCCMS-Index}
</ul>
<div class="decoration"></div>
<div class="container no-bottom">
<h4 class="uppercase">推荐视频</h4>
<div class="quote-slider-no-controls" data-snap-ignore="true">
{NCCMS-Index:Type=4,Count=6}
<div><p class="column"><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="responsive-image" style="height:200px;object-fit:cover;"></a></p></div>
{/NCCMS-Index}
</div>
</div>
<!-- 页尾 开始 -->
{NCCMS-include:Footer}
<!-- 页尾 结束 -->
</div>
</div>
</div>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/jqueryui.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/jquery.swipebox.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/colorbox.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/snap.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/contact.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/custom.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/framework.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/framework.launcher.js"></script>
<script type="text/javascript">
function swapStyleSheet(sheet){
	document.getElementById('pagestyle').setAttribute('href', sheet);
}
</script>
</body>
</html>