<!DOCTYPE HTML><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>{NCCMS:$WebTitle}-{NCCMS:$ListName}-{NCCMS:$Name}</title>
<meta name="author" content="{NCCMS:$WebTitle}">
<meta name="keywords" content="{NCCMS:$WebKeywords},{NCCMS:$ListName},{NCCMS:$Name}">
<meta name="description" content="{NCCMS:$WebDescription},{NCCMS:$ListName},{NCCMS:$Name}">
<link href="{NCCMS:$StylePath}/css/style.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/framework.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/owl.theme.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/swipebox.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/animate.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- 页头 开始 -->
{NCCMS-include:Header}
<!-- 页头 结束 -->
<div class="menu-background"></div>
<div class="content">
<div class="blog-posts">
<div class="blog-post">
<a href="{NCCMS:$CUrl}" title="{NCCMS:$Name}" class="blog-post-image"><img src="{NCCMS:$Pic}" alt="{NCCMS:$Name}"></a>
<h3 class="blog-post-title">{NCCMS:$Name}</h3>
<p style="margin:5px 0;">{NCCMS:$Time}</p>
<button class="btn-submit" onClick="location.href='{NCCMS:$CUrl}';">种子下载</button>
{NCCMS-DCAd}
<p style="margin:5px 0;"><a href="{NCCMS-DCAd:Url}" target="_blank"><img style="width:{NCCMS-DCAd:Width};height:{NCCMS-DCAd:Height};" src="{NCCMS-DCAd:Pic}"></a></p>
{/NCCMS-DCAd}
</div>
</div>
<div class="blog-sidebar">
<div class="decoration hide-if-responsive"></div>
<div class="widget container">
<h4>视频搜索</h4>
<form>
<input class="blog-search" type="text" name="search" placeholder="搜索...">
</form>
</div>
<div class="decoration"></div>
<div class="widget container">
<h4>相关推荐</h4>
<ul class="gallery square-thumb blog-gallery">
{NCCMS-Bt-Popular:Count=6}
<li><a href="{NCCMS-Bt-Popular:DUrl}" title="{NCCMS-Bt-Popular:Name}"><img src="{NCCMS-Bt-Popular:Pic}" alt="{NCCMS-Bt-Popular:Name}"></a></li>
{/NCCMS-Bt-Popular}
</ul>
</div>
<div class="widget container">
<h4>热搜</h4>
<div class="one-half">
<ul class="blog-category">
<li><a href="/?m=video_search*淫穴*1" target="_blank"><i class="fa fa-angle-right"></i>淫穴</a></li>
<li><a href="/?m=video_search*另类*1" target="_blank"><i class="fa fa-angle-right"></i>另类</a></li>
<li><a href="/?m=video_search*全裸*1" target="_blank"><i class="fa fa-angle-right"></i>全裸</a></li>
<li><a href="/?m=video_search*宅男*1" target="_blank"><i class="fa fa-angle-right"></i>宅男</a></li>
<li><a href="/?m=video_search*医院*1" target="_blank"><i class="fa fa-angle-right"></i>医院</a></li>
<li><a href="/?m=video_search*淑女*1" target="_blank"><i class="fa fa-angle-right"></i>淑女</a></li>
<li><a href="/?m=video_search*姐姐*1" target="_blank"><i class="fa fa-angle-right"></i>姐姐</a></li>
<li><a href="/?m=video_search*初恋*1" target="_blank"><i class="fa fa-angle-right"></i>初恋</a></li>
<li><a href="/?m=video_search*女友*1" target="_blank"><i class="fa fa-angle-right"></i>女友</a></li>
<li><a href="/?m=video_search*素人*1" target="_blank"><i class="fa fa-angle-right"></i>素人</a></li>
</ul>
</div>
<div class="one-half last-column">
<ul class="blog-category">
<li><a href="/?m=video_search*厕所*1" target="_blank"><i class="fa fa-angle-right"></i>厕所</a></li>
<li><a href="/?m=video_search*无码*1" target="_blank"><i class="fa fa-angle-right"></i>无码</a></li>
<li><a href="/?m=video_search*露脸*1" target="_blank"><i class="fa fa-angle-right"></i>露脸</a></li>
<li><a href="/?m=video_search*纹身*1" target="_blank"><i class="fa fa-angle-right"></i>纹身</a></li>
<li><a href="/?m=video_search*电车*1" target="_blank"><i class="fa fa-angle-right"></i>电车</a></li>
<li><a href="/?m=video_search*情趣*1" target="_blank"><i class="fa fa-angle-right"></i>情趣</a></li>
<li><a href="/?m=video_search*淫水*1" target="_blank"><i class="fa fa-angle-right"></i>淫水</a></li>
<li><a href="/?m=video_search*捆绑*1" target="_blank"><i class="fa fa-angle-right"></i>捆绑</a></li>
<li><a href="/?m=video_search*搭讪*1" target="_blank"><i class="fa fa-angle-right"></i>搭讪</a></li>
<li><a href="/?m=video_search*自慰*1" target="_blank"><i class="fa fa-angle-right"></i>自慰</a></li>
</ul>
</div>
<div class="clear"></div>
</div>
</div>
<div class="decoration"></div>
</div>
<!-- 页尾 开始 -->
{NCCMS-include:Footer}
<!-- 页尾 结束 -->
</div>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/jquery.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/jqueryui.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/framework.plugins.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/custom.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/language.js"></script>
</body>
</html>