<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{NCCMS:$WebTitle}-{NCCMS-Book-List:Title}</title>
<meta name="author" content="{NCCMS:$WebTitle}">
<meta name="keywords" content="{NCCMS:$WebKeywords},{NCCMS-Book-List:Title}">
<meta name="description" content="{NCCMS:$WebDescription},{NCCMS-Book-List:Title}">
<meta content="IE=edge" http-equiv="x-ua-compatible">
<meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<link href="{NCCMS:$StylePath}/css/ionicons.min.css" media="all" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/keyframes.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/materialize.min.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/swiper.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/swipebox.min.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="main">
<div id="content" class="main animated fadein">
<div class="hero-header hero-small m-b-20 animated fadeindown">
<h1 class="hero-title primary-text"><a href="{NCCMS:$WEBUrl}">{NCCMS-Book-List:Title}</a></h1>
</div>
<div class="section1 center">
{NCCMS-TAd}
<p style="margin:5px 0;"><a href="{NCCMS-TAd:Url}" target="_blank"><img style="width:{NCCMS-TAd:Width};height:{NCCMS-TAd:Height};" src="{NCCMS-TAd:Pic}"></a></p>
{/NCCMS-TAd}
</div>
{NCCMS-Book-List:Count=21}
<div class="card"><div class="header-hover"><div class="details"><span>{NCCMS-Book-List:Name}</span><span class="small">{NCCMS-Book-List:Rand} 人阅读</span></div></div>
<div class="image"><a href="{NCCMS-Book-List:DUrl}" title="{NCCMS-Book-List:Name}"><img src="{NCCMS-Book-List:Pic}" alt="{NCCMS-Book-List:Name}"></a></div></div>
{/NCCMS-Book-List}
<div class="pagination" id="wr-page">
<script src="{NCCMS:$StylePath}/js/page.js?t=1"></script>
<script type="text/javascript">
$("#wr-page").wrpage({
pagesize: '{NCCMS-Book-List:totalPage}',
wr_current: '{NCCMS-Book-List:currentPage}',
baseUrl: '{NCCMS-Book-List:baseUrl}',
})
</script>
</div>
<!-- 页尾 开始 -->
{NCCMS-include:Footer}
<!-- 页尾 结束 -->
</div>
<!-- 页尾 开始 -->
{NCCMS-include:Header}
<!-- 页尾 结束 -->
</div>
<script src="{NCCMS:$StylePath}/js/modernizr.js"></script>
<script src="{NCCMS:$StylePath}/js/jquery.swipebox.min.js"></script>   
<script src="{NCCMS:$StylePath}/js/jquery.smoothState.min.js"></script> 
<script src="{NCCMS:$StylePath}/js/materialize.min.js"></script> 
<script src="{NCCMS:$StylePath}/js/swiper.min.js"></script>  
<script src="{NCCMS:$StylePath}/js/jquery.mixitup.min.js"></script>
<script src="{NCCMS:$StylePath}/js/masonry.min.js"></script>
<script src="{NCCMS:$StylePath}/js/chart.min.js"></script>
<script src="{NCCMS:$StylePath}/js/functions.js"></script>
<script src="{NCCMS:$StylePath}/js/language.js"></script>
</body>
</html>