<div class="menu-trigger z-depth-2"><div id="menu-icon"><span></span><span></span><span></span><span></span></div></div>
<nav id="menu" class="menu">
<div class="menu-navigation">
<ul class="full-menu collapsible">
<li class="menu-title">{NCCMS:$WebTitle}</li>
<li><a href="{NCCMS:$WEBUrl}" class="no-child">首页</a></li>
<li><a href="{NCCMS:$UserUrl}" class="no-child">会员</a></li>
<li>
<div class="collapsible-header">选择语言</div>
<div class="collapsible-body">
<ul class="collapsible">
<li>
<a href="#" onclick="googleTranslate('en|af');">南非语</a>
<a href="#" onclick="googleTranslate('en|sq');">阿尔巴尼亚语</a>
<a href="#" onclick="googleTranslate('en|ar');">阿拉伯</a>
<a href="#" onclick="googleTranslate('en|hy');">亚美尼亚人</a>
<a href="#" onclick="googleTranslate('en|az');">阿塞拜疆</a>
<a href="#" onclick="googleTranslate('en|eu');">巴斯克</a>
<a href="#" onclick="googleTranslate('en|be');">白俄罗斯语</a>
<a href="#" onclick="googleTranslate('en|bg');">保加利亚语</a>
<a href="#" onclick="googleTranslate('en|ca');">加泰罗尼亚语</a>
<a href="#" onclick="googleTranslate('en|zh-CN');">简体中文</a>
<a href="#" onclick="googleTranslate('en|zh-TW');">繁体中文</a>
<a href="#" onclick="googleTranslate('en|hr');">克罗地亚语</a>
<a href="#" onclick="googleTranslate('en|cs');">捷克文</a>
<a href="#" onclick="googleTranslate('en|da');">丹麦文</a>
<a href="#" onclick="googleTranslate('en|nl');">荷兰语</a>
<a href="#" onclick="googleTranslate('en|en');">英语</a>
<a href="#" onclick="googleTranslate('en|et');">爱沙尼亚语</a>
<a href="#" onclick="googleTranslate('en|tl');">菲律宾语</a>
<a href="#" onclick="googleTranslate('en|fi');">芬兰</a>
<a href="#" onclick="googleTranslate('en|fr');">法文</a>
<a href="#" onclick="googleTranslate('en|gl');">加利西亚人</a>
<a href="#" onclick="googleTranslate('en|ka');">格鲁吉亚人</a>
<a href="#" onclick="googleTranslate('en|de');">德语</a>
<a href="#" onclick="googleTranslate('en|el');">希腊语</a>
<a href="#" onclick="googleTranslate('en|ht');">海地克里奥尔语</a>
<a href="#" onclick="googleTranslate('en|iw');">希伯来语</a>
<a href="#" onclick="googleTranslate('en|hi');">印地语</a>
<a href="#" onclick="googleTranslate('en|hu');">匈牙利</a>
<a href="#" onclick="googleTranslate('en|is');">冰岛</a>
<a href="#" onclick="googleTranslate('en|id');">印度尼西亚</a>
<a href="#" onclick="googleTranslate('en|ga');">爱尔兰人</a>
<a href="#" onclick="googleTranslate('en|it');">意大利文</a>
<a href="#" onclick="googleTranslate('en|ja');">日本</a>
<a href="#" onclick="googleTranslate('en|ko');">韩语</a>
<a href="#" onclick="googleTranslate('en|lv');">拉脱维亚语</a>
<a href="#" onclick="googleTranslate('en|lt');">立陶宛语</a>
<a href="#" onclick="googleTranslate('en|mk');">马其顿语</a>
<a href="#" onclick="googleTranslate('en|ms');">马来语</a>
<a href="#" onclick="googleTranslate('en|mt');">马耳他语</a>
<a href="#" onclick="googleTranslate('en|no');">挪威</a>
<a href="#" onclick="googleTranslate('en|fa');">波斯语</a>
<a href="#" onclick="googleTranslate('en|pl');">抛光</a>
<a href="#" onclick="googleTranslate('en|pt');">葡萄牙语</a>
<a href="#" onclick="googleTranslate('en|ro');">罗马尼亚语</a>
<a href="#" onclick="googleTranslate('en|ru');">俄语</a>
<a href="#" onclick="googleTranslate('en|sr');">塞尔维亚</a>
<a href="#" onclick="googleTranslate('en|sk');">斯洛伐克文</a>
<a href="#" onclick="googleTranslate('en|sl');">斯洛文尼亚文</a>
<a href="#" onclick="googleTranslate('en|es');">西班牙文</a>
<a href="#" onclick="googleTranslate('en|sw');">斯瓦希里语</a>
<a href="#" onclick="googleTranslate('en|sv');">瑞典</a>
<a href="#" onclick="googleTranslate('en|th');">泰国</a>
<a href="#" onclick="googleTranslate('en|tr');">土耳其</a>
<a href="#" onclick="googleTranslate('en|uk');">乌克兰</a>
<a href="#" onclick="googleTranslate('en|ur');">乌尔都语</a>
<a href="#" onclick="googleTranslate('en|vi');">越南文</a>
<a href="#" onclick="googleTranslate('en|cy');">威尔士语</a>
<a href="#" onclick="googleTranslate('en|yi');">意第绪语</a>
<div id="google_translate_element2"></div>
</li>
</ul>
</div>
</li>
<li>
<div class="collapsible-header">视频一区</div>
<div class="collapsible-body">
<ul class="collapsible">
<li>
{NCCMS:Type=1,2,3,4,5,6}
<a href="{NCCMS:Url}" title="{NCCMS:Name}">{NCCMS:Name}</a>
{/NCCMS:Type}
</li>
</ul>
</div>
</li>
<li>
<div class="collapsible-header">视频二区</div>
<div class="collapsible-body">
<ul class="collapsible">
<li>
{NCCMS:Type=7,8,9,10,11,12}
<a href="{NCCMS:Url}" title="{NCCMS:Name}">{NCCMS:Name}</a>
{/NCCMS:Type}
</li>
</ul>
</div>
</li>
<li>
<div class="collapsible-header">视频三区</div>
<div class="collapsible-body">
<ul class="collapsible">
<li>
{NCCMS:Type=13,14,15,16,17}
<a href="{NCCMS:Url}" title="{NCCMS:Name}">{NCCMS:Name}</a>
{/NCCMS:Type}
</li>
</ul>
</div>
</li>
<li>
<div class="collapsible-header">电台收听</div>
<div class="collapsible-body">
<ul class="collapsible">
<li>
{NCCMS:Type=31,32,33,34}
<a href="{NCCMS:Url}" title="{NCCMS:Name}">{NCCMS:Name}</a>
{/NCCMS:Type}
</li>
</ul>
</div>
</li>
<li>
<div class="collapsible-header">种子下载</div>
<div class="collapsible-body">
<ul class="collapsible">
<li>
{NCCMS:Type=35,36}
<a href="{NCCMS:Url}" title="{NCCMS:Name}">{NCCMS:Name}</a>
{/NCCMS:Type}
</li>
</ul>
</div>
</li>
<li>
<div class="collapsible-header">美图专区</div>
<div class="collapsible-body">
<ul class="collapsible">
<li>
{NCCMS:Type=25,26,27,28,29,30}
<a href="{NCCMS:Url}" title="{NCCMS:Name}">{NCCMS:Name}</a>
{/NCCMS:Type}
</li>
</ul>
</div>
</li>
<li>
<div class="collapsible-header">小说资源</div>
<div class="collapsible-body">
<ul class="collapsible">
<li>
{NCCMS:Type=19,20,21,22,23,24}
<a href="{NCCMS:Url}" title="{NCCMS:Name}">{NCCMS:Name}</a>
{/NCCMS:Type}
</li>
</ul>
</div>
</li>
<li>
<div class="collapsible-header">合作伙伴</div>
<div class="collapsible-body">
<ul class="collapsible">
<li>
{NCCMS-IeUrl}
<a href="{NCCMS-IeUrl:Url}" title="{NCCMS-IeUrl:Name}" target="_blank">{NCCMS-IeUrl:Name}</a>
{/NCCMS-IeUrl}
</li>
</ul>
</div>
</li>
</ul>
</div>
</nav>