<div class="header-all">
<div class="top clearfix">
<ul class="sj-nav">
<li class="sbtn1"><i class="sjbg-nav"></i></li>
</ul>
<ul class="logo">
<a href="{TTCMS:$WEBUrl}"><img src="{TTCMS:$WebLogo}" alt="{TTCMS:$WebTitle}"></a>
</ul>
<ul class="top-nav">
<li><a href="{TTCMS:$WEBUrl}">首页</a></li>
<li _t_nav="topnav-1"><a href="javascript:void(0)" title="视频一区">视频一区<i class="sjbgs"></i><i class="sjbgx"></i></a></li>
<li _t_nav="topnav-2"><a href="javascript:void(0)" title="视频二区">视频二区<i class="sjbgs"></i><i class="sjbgx"></i></a></li>
<li _t_nav="topnav-3"><a href="javascript:void(0)" title="视频三区">视频三区<i class="sjbgs"></i><i class="sjbgx"></i></a></li>
<li _t_nav="topnav-4"><a href="javascript:void(0)" title="小说资源">小说资源<i class="sjbgs"></i><i class="sjbgx"></i></a></li>
<li _t_nav="topnav-5"><a href="javascript:void(0)" title="美图专区">美图专区<i class="sjbgs"></i><i class="sjbgx"></i></a></li>
<li _t_nav="topnav-6"><a href="javascript:void(0)" title="电台种子">电台种子<i class="sjbgs"></i><i class="sjbgx"></i></a></li>
</ul>
<ul class="search clearfix">
<form>
<input class="input" type="text" name="search" placeholder="视频搜索">
<input class="imgbt" type="submit" value=""/>
</form>
</ul>
<ul class="sj-search">
<li class="sbtn2"><i class="sjbg-search"></i></li>
</ul>

</div>
<div class="nav-down clearfix">
<div id="topnav-1" class="nav-down-1" style="display:none;" _t_nav="topnav-1">
<div class="nav-down-2 clearfix">
<ul>
{TTCMS:Type=1,2,3,4,5,6}<li>
<a href="{TTCMS:Url}">{TTCMS:Name}</a></li>
{/TTCMS:Type}
</ul>
</div>
</div>
<div id="topnav-2" class="nav-down-1" style="display:none;" _t_nav="topnav-2">
<div class="nav-down-2 clearfix">
<ul>
{TTCMS:Type=7,8,9,10,11,12}
<li><a href="{TTCMS:Url}">{TTCMS:Name}</a></li>
{/TTCMS:Type}
</ul>
</div>
</div>
<div id="topnav-3" class="nav-down-1" style="display:none;" _t_nav="topnav-3">
<div class="nav-down-2 clearfix">
<ul>
{TTCMS:Type=13,14,15,16,17,18}
<li><a href="{TTCMS:Url}">{TTCMS:Name}</a></li>
{/TTCMS:Type}
</ul>
</div>
</div>
<div id="topnav-4" class="nav-down-1" style="display:none;" _t_nav="topnav-4">
<div class="nav-down-2 clearfix">
<ul>
{TTCMS:Type=19,20,21,22,23,24}
<li><a href="{TTCMS:Url}">{TTCMS:Name}</a></li>
{/TTCMS:Type}
</ul>
</div>
</div>
<div id="topnav-5" class="nav-down-1" style="display:none;" _t_nav="topnav-5">
<div class="nav-down-2 clearfix">
<ul>
{TTCMS:Type=25,26,27,28,29,30}
<li><a href="{TTCMS:Url}">{TTCMS:Name}</a></li>
{/TTCMS:Type}
</ul>
</div>
</div>
<div id="topnav-6" class="nav-down-1" style="display:none;" _t_nav="topnav-6">
<div class="nav-down-2 clearfix">
<ul>
{TTCMS:Type=31,32,33,34,35,36}
<li><a href="{TTCMS:Url}">{TTCMS:Name}</a></li>
{/TTCMS:Type}
</ul>
</div>
</div>
<div id="sj-nav-1" class="nav-down-1 sy1 sj-noover" style="display:none;" _s_nav="sj-nav-1">
<div class="nav-down-2 sj-nav-down-2 clearfix">
<ul>
<li><span>视频专区</span></li>
{TTCMS:Type=1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18}
<li><a href="{TTCMS:Url}">{TTCMS:Name}</a></li>
{/TTCMS:Type}
<div class="clearfix"></div>
</ul>
<ul>
<li><span>小说专区</span></li>
{TTCMS:Type=19,20,21,22,23,24}
<li><a  href="{TTCMS:Url}">{TTCMS:Name}</a></li>
{/TTCMS:Type}
<div class="clearfix"></div>
</ul>
<ul>
<li><span>美图专区</span></li>
{TTCMS:Type=25,26,27,28,29,30}
<li><a  href="{TTCMS:Url}">{TTCMS:Name}</a></li>
{/TTCMS:Type}
<div class="clearfix"></div>
</ul>
<ul>
<li><span>电台专区</span></li>
{TTCMS:Type=31,32,33,34,35,36}
<li><a  href="{TTCMS:Url}">{TTCMS:Name}</a></li>
{/TTCMS:Type}
<div class="clearfix"></div>
</ul>
</div>
</div>
<div id="sj-nav-search" class="nav-down-1 sy2 sj-noover" style="display:none;" _t_nav1="sj-nav-search">
<div class="nav-down-2 sj-nav-down-search clearfix">
<form>
<input class="input" type="text" name="search" placeholder="视频搜索">
<input class="imgbt" type="submit" value="搜索"/>
</form>
</div>
</div>
</div>
</div>