<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<meta name="applicable-device" content="pc,mobile">
<title>{TTCMS:$WebTitle}-{TTCMS:$ListName}-{TTCMS:$Name}</title>
<meta name="author" content="{TTCMS:$WebTitle}">
<meta name="keywords" content="{TTCMS:$WebKeywords},{TTCMS:$ListName},{TTCMS:$Name}">
<meta name="description" content="{TTCMS:$WebDescription},{TTCMS:$ListName},{TTCMS:$Name}">
<link rel="icon" type="image/png" href="{TTCMS:$StylePath}/img/logo.ico">
<link href="{TTCMS:$StylePath}/css/style.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="{TTCMS:$StylePath}/js/common.js"></script>
<!--[if lt IE 9]>
<script src="{TTCMS:$StylePath}/js/html5shiv.min.js"></script>
<script src="{TTCMS:$StylePath}/js/respond.min.js"></script>
<![endif]-->
</head>
<body>
<!-- 页头 开始 -->
{TTCMS-include:Header}
<!-- 页头 结束 -->
<div class="main">
<h1 class="title">
<li class="home">
<a href="{$maccms.path}">首页</a> »
<a href="{TTCMS:$ListUrl}">{TTCMS:$ListName}</a> »
<a href="{TTCMS:$CUrl}">{TTCMS:$Name}</a>
</li>
</h1>
<div class="ct mb clearfix">
<div class="ct-l"><a href="{TTCMS:$CUrl}" title="{TTCMS:$Name}"><img src="{TTCMS:$Pic}" alt="{TTCMS:$Name}" class="imgPlay"></a></div>
<div class="ct-c">
<dl>
<dt class="name">{TTCMS:$Name}</dt>
<dt><span>分类：</span><a href="{TTCMS:$ListUrl}">{TTCMS:$ListName}</a></dt>
<dt><span>更新：</span>{TTCMS:$Time}</dt>
</dl>
<a href="{TTCMS:$CUrl}" class="playbtn">在线观看</a>
</div>
</div>
<div class="DCAd">
{TTCMS-DCAd}
<p style="margin:10px 0;"><a href="{TTCMS-DCAd:Url}" target="_blank"><img style="width:{TTCMS-DCAd:Width};height:{TTCMS-DCAd:Height};margin-bottom:2px;" src="{TTCMS-DCAd:Pic}"></a></p>
{/TTCMS-DCAd}
</div>
<div class="tab-title tab mb clearfix"><ul><li class="on">相关推荐</li></ul></div>
<div class="tab-down mb clearfix">
<div class="index-area clearfix pd22">
<ul>
{TTCMS-Video-Popular:Count=15}
<li class="p2 m1"><a href="{TTCMS-Video-Popular:DUrl}" title="{TTCMS-Video-Popular:Name}" class="link-hover"><img src="{TTCMS-Video-Popular:Pic}" alt="{TTCMS-Video-Popular:Name}"><span class="video-bg"></span><span class="lzbz"><p class="name">{TTCMS-Video-Popular:Name}</p></span></a></li>
{/TTCMS-Video-Popular}
</ul>
</div>
</div>
</div>
<!-- 页尾 开始 -->
{TTCMS-include:Footer}
<!-- 页尾 结束 -->
</body>
</html>

