<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{NCCMS:$WebTitle}-{NCCMS:$ListName}-{NCCMS:$Name}</title>
<meta name="author" content="{NCCMS:$WebTitle}">
<meta name="keywords" content="{NCCMS:$WebKeywords},{NCCMS:$ListName},{NCCMS:$Name}">
<meta name="description" content="{NCCMS:$WebDescription},{NCCMS:$ListName},{NCCMS:$Name}">
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 user-scalable=no">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="HandheldFriendly" content="True">
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/materialize.css">
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/font-awesome.min.css">
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/normalize.css">
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/owl.carousel.css">
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/owl.theme.css">
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/owl.transitions.css">
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/style.css">
<link rel="shortcut icon" href="{NCCMS:$StylePath}/img/favicon.png">
</head>
<body>
<div class="navbar-top">
<div class="side-nav-panel-left"><a href="#" data-activates="slide-out-left" class="side-nav-left"><i class="fa fa-bars"></i></a></div>
<div class="site-brand"><a href="{NCCMS:$WEBUrl}" class="das"><h1>{NCCMS-Bt-List:Title}</h1></a></div>
<div class="side-nav-panel-right"><a href="#" data-activates="slide-out-right" class="side-nav-right"><i class="fa fa-search"></i></a></div>
</div>
<!-- 页头 开始 -->
{NCCMS-include:Header}
<!-- 页头 结束 -->
<div class="single-post section pages">
<div class="container">
<a href="{NCCMS:$CUrl}" title="{NCCMS:$Name}"><img src="{NCCMS:$Pic}" alt="{NCCMS:$Name}"></a>
<h3>{NCCMS:$Name}</h3>
<span><i class="fa fa-clock-o"></i> {NCCMS:$Time}</span>
<p><button class="btn button-default" onClick="location.href='{NCCMS:$CUrl}';">种子下载</button><p>
<div class="post-social-media">
<ul>
<li class="lk"><a href="/?m=video_search*淫穴*1">淫穴</a></li>
<li class="lk"><a href="/?m=video_search*另类*1">另类</a></li>
<li class="lk"><a href="/?m=video_search*全裸*1">全裸</a></li>
<li class="lk"><a href="/?m=video_search*宅男*1">宅男</a></li>
<li class="lk"><a href="/?m=video_search*医院*1">医院</a></li>
<li class="gl"><a href="/?m=video_search*淑女*1">淑女</a></li>
<li class="gl"><a href="/?m=video_search*姐姐*1">姐姐</a></li>
<li class="gl"><a href="/?m=video_search*初恋*1">初恋</a></li>
<li class="gl"><a href="/?m=video_search*女友*1">女友</a></li>
<li class="gl"><a href="/?m=video_search*素人*1">素人</a></li>
<li class="gl"><a href="/?m=video_search*灌醉*1">灌醉</a></li>
<li class="gl"><a href="/?m=video_search*骚逼*1">骚逼</a></li>
<li class="gl"><a href="/?m=video_search*长腿*1">长腿</a></li>
<li class="gl"><a href="/?m=video_search*妹纸*1">妹纸</a></li>
<li class="gl"><a href="/?m=video_search*嫩逼*1">嫩逼</a></li>
<li class="gl"><a href="/?m=video_search*厕所*1">厕所</a></li>
<li class="gl"><a href="/?m=video_search*无码*1">无码</a></li>
<li class="gl"><a href="/?m=video_search*露脸*1">露脸</a></li>
<li class="tw"><a href="/?m=video_search*纹身*1">纹身</a></li>
<li class="tw"><a href="/?m=video_search*聚会*1">聚会</a></li>
<li class="tw"><a href="/?m=video_search*电车*1">电车</a></li>
<li class="tw"><a href="/?m=video_search*情趣*1">情趣</a></li>
<li class="fb"><a href="/?m=video_search*淫水*1">淫水</a></li>
<li class="fb"><a href="/?m=video_search*捆绑*1">捆绑</a></li>
<li class="fb"><a href="/?m=video_search*偷窥*1">偷窥</a></li>
<li class="fb"><a href="/?m=video_search*搭讪*1">搭讪</a></li>
<li class="fb"><a href="/?m=video_search*自慰*1">自慰</a></li>
<li class="fb"><a href="/?m=video_search*肤白*1">肤白</a></li>
<li class="fb"><a href="/?m=video_search*表姐*1">表姐</a></li>
<li class="fb"><a href="/?m=video_search*白丝*1">白丝</a></li>
<li class="fb"><a href="/?m=video_search*约炮*1">约炮</a></li>
<li class="fb"><a href="/?m=video_search*高挑*1">高挑</a></li>
<li class="tw"><a href="/?m=video_search*后门*1">后门</a></li>
<li class="tw"><a href="/?m=video_search*拜金*1">拜金</a></li>
<li class="tw"><a href="/?m=video_search*透明*1">透明</a></li>
</ul>
</div>
{NCCMS-DCAd}
<p style="margin:5px 0;"><a href="{NCCMS-DCAd:Url}" target="_blank"><img style="width:{NCCMS-DCAd:Width};height:{NCCMS-DCAd:Height};" src="{NCCMS-DCAd:Pic}"></a></p>
{/NCCMS-DCAd}
<div class="recent-post section">
{NCCMS-Bt-Popular:Count=6}
<div class="author-full-width"><div class="row"><div class="col s12"><div class="author-full-width-post post"><a href="{NCCMS-Bt-Popular:DUrl}" title="{NCCMS-Bt-Popular:Name}"><img src="{NCCMS-Bt-Popular:Pic}" alt="{NCCMS-Bt-Popular:Name}" class="imgPlay" style="height:220px;object-fit:cover;"></a>
<h3><a href="{NCCMS-Bt-Popular:DUrl}" title="{NCCMS-Bt-Popular:Name}">{NCCMS-Bt-Popular:Name}</a></h3></div></div></div></div>
{/NCCMS-Bt-Popular}
</div>
<div class="post-comment">
<div class="comment-form">
<h3>视频搜索</h3>
<form>
<div class="input-field"><input type="text" name="search" placeholder="搜索..." required></div>
<div class="form-button"><button type="submit" class="btn button-default">搜索</button></div>
</form>
</div>
</div>
</div>
</div>
<!-- 页尾 开始 -->
{NCCMS-include:Footer}
<!-- 页尾 结束 -->
<script src="{NCCMS:$StylePath}/js/materialize.min.js"></script>
<script src="{NCCMS:$StylePath}/js/jquery.scrollToTop.min.js"></script>
<script src="{NCCMS:$StylePath}/js/owl.carousel.min.js"></script>
<script src="{NCCMS:$StylePath}/js/main.js"></script>
<script src="{NCCMS:$StylePath}/js/language.js"></script>
</body>
</html>