<!DOCTYPE HTML>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{NCCMS:$WebTitle}-{NCCMS:$ListName}-{NCCMS:$Name}</title>
<meta name="author" content="{NCCMS:$WebTitle}">
<meta name="keywords" content="{NCCMS:$WebKeywords},{NCCMS:$ListName},{NCCMS:$Name}">
<meta name="description" content="{NCCMS:$WebDescription},{NCCMS:$ListName},{NCCMS:$Name}">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{NCCMS:$StylePath}/img/splash-icon.png">
<link rel="apple-touch-startup-image" href="{NCCMS:$StylePath}/img/splash-screen.png" media="screen and (max-device-width: 320px)">
<link rel="apple-touch-startup-image" href="{NCCMS:$StylePath}/img/splash-screen@2x.png" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)">
<link rel="apple-touch-startup-image" sizes="640x1096" href="{NCCMS:$StylePath}/img/splash-screen@3x.png">
<link rel="apple-touch-startup-image" sizes="1024x748" href="{NCCMS:$StylePath}/img/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)">
<link rel="apple-touch-startup-image" sizes="768x1004" href="{NCCMS:$StylePath}/img/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)">
<link rel="apple-touch-startup-image" sizes="1536x2008" href="{NCCMS:$StylePath}/img/splash-screen-ipad-portrait-retina.png" media="(device-width: 768px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)">
<link rel="apple-touch-startup-image" sizes="1496x2048" href="{NCCMS:$StylePath}/img/splash-screen-ipad-landscape-retina.png" media="(device-width: 768px) and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)">
<link href="{NCCMS:$StylePath}/css/style.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/framework.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/owl.carousel.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/owl.theme.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/swipebox.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/colorbox.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- 页头 开始 -->
{NCCMS-include:Header}
<!-- 页头 结束 -->
<div id="content" class="page-content">
<div class="page-header">
<a href="#" class="deploy-sidebar"></a>
<p class="bread-crumb">{NCCMS:$ListName}</p>
<a href="mailto:{NCCMS:$WebEmail}" class="deploy-contact"></a>
</div>
<div class="content">
<div class="container no-bottom">
<div class="section-title">
<a href="{NCCMS:$CUrl}" title="{NCCMS:$Name}"><img src="{NCCMS:$Pic}" alt="{NCCMS:$Name}" class="responsive-image imgPlay" style="height:260px;object-fit:cover;"></a>
<h4>{NCCMS:$Name}</h4>
<p>{NCCMS:$overview}......</p>
<em>{NCCMS:$Time}</em>
<button class="buttonWrap button button-green contactSubmitButton" onClick="location.href='{NCCMS:$CUrl}';">在线阅读</button>
{NCCMS-DCAd}
<p style="margin:5px 0;"><a href="{NCCMS-DCAd:Url}" target="_blank"><img style="width:{NCCMS-DCAd:Width};height:{NCCMS-DCAd:Height};" src="{NCCMS-DCAd:Pic}"></a></p>
{/NCCMS-DCAd}
</div>
</div>
<div class="decoration"></div>
<div class="one-half-responsive">
<h4>热搜</h4>
<div class="container">
<a href="/?m=video_search*淫穴*1" class="button button-turqoise" target="_blank">淫穴</a>
<a href="/?m=video_search*全裸*1" class="button button-turqoise" target="_blank">全裸</a>
<a href="/?m=video_search*宅男*1" class="button button-turqoise" target="_blank">宅男</a>
<a href="/?m=video_search*捆绑*1" class="button button-dark" target="_blank">捆绑</a>
<a href="/?m=video_search*约炮*1" class="button button-dark" target="_blank">约炮</a>
<a href="/?m=video_search*18岁*1" class="button button-dark" target="_blank">18岁</a>
<a href="/?m=video_search*医院*1" class="button button-turqoise" target="_blank">医院</a>
<a href="/?m=video_search*淑女*1" class="button button-turqoise" target="_blank">淑女</a>
<a href="/?m=video_search*妹纸*1" class="button button-blue" target="_blank">妹纸</a>
<a href="/?m=video_search*嫩逼*1" class="button button-blue" target="_blank">嫩逼</a>
<a href="/?m=video_search*厕所*1" class="button button-blue" target="_blank">厕所</a>
<a href="/?m=video_search*无码*1" class="button button-blue" target="_blank">无码</a>
<a href="/?m=video_search*素人*1" class="button button-turqoise" target="_blank">素人</a>
<a href="/?m=video_search*灌醉*1" class="button button-blue" target="_blank">灌醉</a>
<a href="/?m=video_search*露脸*1" class="button button-magenta" target="_blank">露脸</a>
<a href="/?m=video_search*纹身*1" class="button button-magenta" target="_blank">纹身</a>
<a href="/?m=video_search*电车*1" class="button button-magenta" target="_blank">电车</a>
<a href="/?m=video_search*情趣*1" class="button button-magenta" target="_blank">情趣</a>
<a href="/?m=video_search*高挑*1" class="button button-orange" target="_blank">高挑</a>
<a href="/?m=video_search*后门*1" class="button button-orange" target="_blank">后门</a>
<a href="/?m=video_search*透明*1" class="button button-orange" target="_blank">透明</a>
<a href="/?m=video_search*淫水*1" class="button button-magenta" target="_blank">淫水</a>
<a href="/?m=video_search*骚逼*1" class="button button-blue" target="_blank">骚逼</a>
<a href="/?m=video_search*长腿*1" class="button button-blue" target="_blank">长腿</a>
<a href="/?m=video_search*姐姐*1" class="button button-turqoise" target="_blank">姐姐</a>
<a href="/?m=video_search*初恋*1" class="button button-turqoise" target="_blank">初恋</a>
<a href="/?m=video_search*女友*1" class="button button-turqoise" target="_blank">女友</a>
<a href="/?m=video_search*搭讪*1" class="button button-red">搭讪</a>
<a href="/?m=video_search*自慰*1" class="button button-red" target="_blank">自慰</a>
<a href="/?m=video_search*肤白*1" class="button button-red" target="_blank">肤白</a>
<a href="/?m=video_search*表姐*1" class="button button-red" target="_blank">表姐</a>
<a href="/?m=video_search*白丝*1" class="button button-red" target="_blank">白丝</a>
<a href="/?m=video_search*泳池*1" class="button button-magenta" target="_blank">泳池</a>
<a href="/?m=video_search*尾随*1" class="button button-blue" target="_blank">尾随</a>
<a href="/?m=video_search*推油*1" class="button button-magenta" target="_blank">推油</a>
<a href="/?m=video_search*迷晕*1" class="button button-blue" target="_blank">迷晕</a>
</div>
</div>
{NCCMS-Book-Popular:Count=6}
<div class="decoration"></div><div class="container no-bottom"><div><a href="{NCCMS-Book-Popular:DUrl}" title="{NCCMS-Book-Popular:Name}"><img src="{NCCMS-Book-Popular:Pic}" alt="{NCCMS-Book-Popular:Name}" class="responsive-image imgPlay" style="height:220px;object-fit:cover;"></a></div>
{/NCCMS-Book-Popular}
<div class="decoration"></div>
<div class="one-half-responsive">
<h4>视频搜索</h4>
<div class="container no-bottom">
<div class="contact-form no-bottom">
<form class="contactForm">
<fieldset>
<div class="formFieldWrap"><input type="text" class="contactField requiredField" name="search" placeholder="视频搜索"></div>
<div class="formSubmitButtonErrorsWrap"><input type="submit" class="buttonWrap button button-green contactSubmitButton" value="搜索"></div>
</fieldset>
</form>
</div>
</div>
</div>
<div class="decoration"></div>
<!-- 页尾 开始 -->
{NCCMS-include:Footer}
<!-- 页尾 结束 -->
</div>
</div>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/jqueryui.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/jquery.swipebox.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/colorbox.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/snap.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/contact.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/custom.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/framework.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/framework.launcher.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/language.js"></script>
</body>
</html>