<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{NCCMS:$WebTitle}-{NCCMS:$ListName}-{NCCMS:$Name}</title>
<meta name="author" content="{NCCMS:$WebTitle}">
<meta name="keywords" content="{NCCMS:$WebKeywords},{NCCMS:$ListName},{NCCMS:$Name}">
<meta name="description" content="{NCCMS:$WebDescription},{NCCMS:$ListName},{NCCMS:$Name}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/jqeury.mobile.theme.min.css"/>
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/jquery.mobile.icons.min.css"/>
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/jquery.mobile.min.css"/>
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/owl.carousel.css">
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/owl.theme.css">
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/style.css"/>
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/font-awesome.min.css">
</head>
<body>
<div data-role="page" data-theme='a'>
<!-- 页头 开始 -->
{NCCMS-include:Header}
<!-- 页头 结束 -->
<div data-role="header" data-tap-toggle="false" data-theme='a'>
<a href="#sidebar" data-role="none"><img src="{NCCMS:$StylePath}/img/menu-icon.png" id="header-menu-icon"></a>
<h1 class="header-title"><a href="{NCCMS:$ListUrl}" style="color:#232323;">{NCCMS:$ListName}</a></h1>
<a href="#" data-role="none" id="a-search"><img src="{NCCMS:$StylePath}/img/search-icon.png" id="header-search-icon"/></a>
</div>
<div data-role="content">
<div class="embed-responsive embed-responsive-4by3 player-box">
{NCCMS:$Play}
</div>
<div id="playtip" style="display:none;">
<h2 style="color:red;">每日限量观看5个视频，您今日次数已用完，您可以选择赚取观影次数，或者等明天次数恢复了观看</h2>
<div style="margin:5px 0;"><button type="submit" class="btn-submit" onClick="location.href='{NCCMS:$UserUrl}';">赚取次数</button></div>
</div>
<h2>{NCCMS:$Name}</h2>
<p class="date">{NCCMS:$Time}</p>
<button class="button" onClick="location.href='{NCCMS:$CUrl}';">在线播放</button>
{NCCMS-DCAd}
<p style="margin:5px 0;"><a href="{NCCMS-DCAd:Url}" target="_blank"><img style="width:{NCCMS-DCAd:Width};height:{NCCMS-DCAd:Height};margin-bottom:2px;" src="{NCCMS-DCAd:Pic}"></a></p>
{/NCCMS-DCAd}
<div data-role="content" class="content">
{NCCMS-Video-Popular:Count=6}
<div class="item"><a href="{NCCMS-Video-Popular:DUrl}" title="{NCCMS-Video-Popular:Name}"><img src="{NCCMS-Video-Popular:Pic}" alt="{NCCMS-Video-Popular:Name}"></a></div>
{/NCCMS-Video-Popular}
</div>
<form>
<input data-role="none" type="text" class="theia-input" name="search" placeholder="视频搜索" required>
<button data-role="none" type="submit" class="theia-button" data-theme="c"><i class="fa fa-send"></i>搜索</button>
</form>
</div>
<!-- 页尾 开始 -->
{NCCMS-include:Footer}
<!-- 页尾 结束 -->
</div>
<script src="{NCCMS:$StylePath}/js/jquery.mobile.min.js"></script>
<script src="{NCCMS:$StylePath}/js/owl.carousel.min.js"></script>
<script src="{NCCMS:$StylePath}/js/theia.js"></script>
<script src="{NCCMS:$StylePath}/js/language.js"></script>
<script>
if ({NCCMS:$WebUserLimit}){ //限制开关
$(document).ready(function() {
userKey = "user_info";
console.log($.cookie(userKey));
userInfo = JSON.parse($.cookie(userKey));
$.ajax({
type: "GET",
url: '/Php/Home/userinfo.php',
beforeSend:function(){
},
success: function (res) {
userInfo = JSON.parse($.cookie(userKey));
console.log(userInfo)
if(userInfo != null ) {
if (userInfo.leftNum<1){
$('#playtip').show();
$('.player-box').html('');
}
}
},
error: function (err) {
alert('获取用户id失败!');
}
})
});
}
</script>
</body>
</html>