<!DOCTYPE HTML>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{NCCMS:$WebTitle}</title>
<meta name="author" content="{NCCMS:$WebKeywords}">
<meta name="keywords" content="{NCCMS:$WebKeywords}">
<meta name="description" content="{NCCMS:$WebDescription}">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{NCCMS:$StylePath}/img/splash-icon.png">
<link rel="apple-touch-startup-image" href="{NCCMS:$StylePath}/img/splash-screen.png" media="screen and (max-device-width: 320px)">
<link rel="apple-touch-startup-image" href="{NCCMS:$StylePath}/img/splash-screen@2x.png" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)">
<link rel="apple-touch-startup-image" sizes="640x1096" href="{NCCMS:$StylePath}/img/splash-screen@3x.png">
<link rel="apple-touch-startup-image" sizes="1024x748" href="{NCCMS:$StylePath}/img/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)">
<link rel="apple-touch-startup-image" sizes="768x1004" href="{NCCMS:$StylePath}/img/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)">
<link rel="apple-touch-startup-image" sizes="1536x2008" href="{NCCMS:$StylePath}/img/splash-screen-ipad-portrait-retina.png" media="(device-width: 768px) and (orientation: portrait) nd (-webkit-device-pixel-ratio: 2)">
<link rel="apple-touch-startup-image" sizes="1496x2048" href="{NCCMS:$StylePath}/img/splash-screen-ipad-landscape-retina.png" media="(device-width: 768px) and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)">
<link href="{NCCMS:$StylePath}/css/style.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/default.css" rel="stylesheet" type="text/css" id="pagestyle">
<link href="{NCCMS:$StylePath}/css/framework.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/owl.carousel.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/owl.theme.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/swipebox.css" rel="stylesheet" type="text/css">
<link href="{NCCMS:$StylePath}/css/colorbox.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- 页头 开始 -->
{NCCMS-include:Header}
<!-- 页头 结束 -->
</div>
</div>
<div id="content" class="page-content">
<div class="content-controls"><a href="#" class="deploy-sidebar"></a><em>{NCCMS:$WebTitle}</em>
</div>
<div class="content">
<div class="decoration"></div>
<div class="container">
<div class="slider-controls" data-snap-ignore="true">
{NCCMS-Index:Type=1,Count=4}
<div><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="responsive-image"></a><p class="title-slider-caption post-title"><em>{NCCMS-Index:Name}</em></p></div>
{/NCCMS-Index}
</div>
<a href="#" class="next-slider"></a>
<a href="#" class="prev-slider"></a>
</div>
<div class="decoration"></div>
<div class="container no-bottom"><h4>最新视频</h4></div>
<div class="container">
<a href="#" class="next-quote"></a>
<a href="#" class="prev-quote"></a>
<div class="quote-slider" data-snap-ignore="true">
{NCCMS-Index:Type=6,Count=5}
<div><div class="services-item"><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="imgPlay" style="height:140px;object-fit:cover;"></a><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}" class="button button-green center-button">在线播放</a></div></div>
{/NCCMS-Index}
{NCCMS-Index:Type=18,Count=5}
<div><div class="services-item"><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="imgPlay" style="height:140px;object-fit:cover;"></a><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}" class="button button-green center-button">在线播放</a></div></div>
{/NCCMS-Index}
</div>
</div>
<div class="decoration"></div>
<div class="content-header">
{NCCMS-TAd}
<p style="margin:5px 0;"><a href="{NCCMS-TAd:Url}" target="_blank"><img style="width:{NCCMS-TAd:Width};height:{NCCMS-TAd:Height};" src="{NCCMS-TAd:Pic}"></a></p>
{/NCCMS-TAd}
</div>
<div class="container no-bottom"><h4>热门视频</h4></div>
<div class="container no-bottom">
<ul class="gallery round-thumb">
{NCCMS-Index:Type=3,Count=4}
<li><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="imgPlay" style="height:220px;object-fit:cover;"></a></li>
{/NCCMS-Index}
{NCCMS-Index:Type=4,Count=4}
<li><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="imgPlay" style="height:220px;object-fit:cover;"></a></li>
{/NCCMS-Index}
{NCCMS-Index:Type=5,Count=4}
<li><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="imgPlay" style="height:220px;object-fit:cover;"></a></li>
{/NCCMS-Index}
</ul>
</div>
<div class="decoration"></div>
<!-- 页尾 开始 -->
{NCCMS-include:Footer}
<!-- 页尾 结束 -->
</div>
</div>
</div>
</div>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/jqueryui.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/jquery.swipebox.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/colorbox.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/snap.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/contact.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/custom.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/framework.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/framework.launcher.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/language.js"></script>
<script type="text/javascript">
function swapStyleSheet(sheet){
	document.getElementById('pagestyle').setAttribute('href', sheet);
}
</script>
</body>
</html>
