@charset "utf-8";
.sidebar-1{background-image:url(../img/nav_red/nav_play_1.png);margin-left:38px;margin-right:5px}
.sidebar-2{background-image:url(../img/nav_red/nav_play_2.png);margin-right:5px}
.sidebar-3{background-image:url(../img/nav_red/nav_play_3.png);margin-right:5px;margin-top:-18px}
.sidebar-4{background-image:url(../img/nav_red/nav_close.png);margin-right:5px;margin-top:-18px}
.sidebar-5{background-image:url(../img/nav_red/nav_play_4.png);margin-top:-18px}
.sidebar-6{background-image:url(../img/nav_red/nav_play_5.png);margin-left:38px;margin-top:-18px;margin-right:5px}
.sidebar-7{background-image:url(../img/nav_red/nav_play_6.png);margin-top:-18px}
.sidebar-8{background-image:url(../img/nav_red/nav_play_7.png);margin-left:38px;margin-right:5px}
.sidebar-9{background-image:url(../img/nav_red/nav_play_8.png);margin-right:5px}
.sidebar-10{background-image:url(../img/nav_red/nav_play_9.png);margin-right:5px;margin-top:-18px}
.sidebar-11{background-image:url(../img/nav_red/nav_close.png);margin-right:5px;margin-top:-18px}
.sidebar-12{background-image:url(../img/nav_red/nav_play_10.png);margin-top:-18px}
.sidebar-13{background-image:url(../img/nav_red/nav_play_11.png);margin-left:38px;margin-top:-18px;margin-right:5px}
.sidebar-14{background-image:url(../img/nav_red/nav_play_12.png);margin-top:-18px}
.sidebar-15{background-image:url(../img/nav_red/nav_play_13.png);margin-left:38px;margin-right:5px}
.sidebar-16{background-image:url(../img/nav_red/nav_play_14.png);margin-right:5px}
.sidebar-17{background-image:url(../img/nav_red/nav_play_15.png);margin-right:5px;margin-top:-18px}
.sidebar-18{background-image:url(../img/nav_red/nav_close.png);margin-right:5px;margin-top:-18px}
.sidebar-19{background-image:url(../img/nav_red/nav_play_16.png);margin-top:-18px}
.sidebar-20{background-image:url(../img/nav_red/nav_play_17.png);margin-left:38px;margin-top:-18px;margin-right:5px}
.sidebar-21{background-image:url(../img/nav_red/nav_play_18.png);margin-top:-18px}
.sidebar-22{background-image:url(../img/nav_red/nav_radio_1.png);margin-left:38px;margin-right:5px}
.sidebar-23{background-image:url(../img/nav_red/nav_radio_2.png);margin-right:5px}
.sidebar-24{background-image:url(../img/nav_red/nav_radio_3.png);margin-right:5px;margin-top:-18px}
.sidebar-25{background-image:url(../img/nav_red/nav_close.png);margin-right:5px;margin-top:-18px}
.sidebar-26{background-image:url(../img/nav_red/nav_radio_4.png);margin-top:-18px}
.sidebar-27{background-image:url(../img/nav_red/nav_bt_1.png);margin-left:38px;margin-top:-18px;margin-right:5px}
.sidebar-28{background-image:url(../img/nav_red/nav_bt_2.png);margin-top:-18px}
.sidebar-29{background-image:url(../img/nav_red/nav_pic_1.png);margin-left:38px;margin-right:5px}
.sidebar-30{background-image:url(../img/nav_red/nav_pic_2.png);margin-right:5px}
.sidebar-31{background-image:url(../img/nav_red/nav_pic_3.png);margin-right:5px;margin-top:-18px}
.sidebar-32{background-image:url(../img/nav_red/nav_close.png);margin-right:5px;margin-top:-18px}
.sidebar-33{background-image:url(../img/nav_red/nav_pic_4.png);margin-top:-18px}
.sidebar-34{background-image:url(../img/nav_red/nav_pic_5.png);margin-left:38px;margin-top:-18px;margin-right:5px}
.sidebar-35{background-image:url(../img/nav_red/nav_pic_6.png);margin-top:-18px}
.sidebar-36{background-image:url(../img/nav_red/nav_book_1.png);margin-left:38px;margin-right:5px}
.sidebar-37{background-image:url(../img/nav_red/nav_book_2.png);margin-right:5px}
.sidebar-38{background-image:url(../img/nav_red/nav_book_3.png);margin-right:5px;margin-top:-18px}
.sidebar-39{background-image:url(../img/nav_red/nav_close.png);margin-right:5px;margin-top:-18px}
.sidebar-40{background-image:url(../img/nav_red/nav_book_4.png);margin-top:-18px}
.sidebar-41{background-image:url(../img/nav_red/nav_book_5.png);margin-left:38px;margin-top:-18px;margin-right:5px}
.sidebar-42{background-image:url(../img/nav_red/nav_book_6.png);margin-top:-18px}