<!DOCTYPE html>
<html>
<head>
<title>{NCCMS:$WebTitle}</title>
<meta name="author" content="{NCCMS:$WebKeywords}">
<meta name="keywords" content="{NCCMS:$WebKeywords}">
<meta name="description" content="{NCCMS:$WebDescription}">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="Keywords" content="crikey, premium, mobile, template, HTML, Css">
<meta name="Description" content="Premium mobile HTML/CSS template.">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="shortcut icon" href="{NCCMS:$StylePath}/img/favicon.ico" type="image/x-icon">
<link href="{NCCMS:$StylePath}/css/framework.css" rel="stylesheet" type="text/css" media="all">
<link href="{NCCMS:$StylePath}/css/colorbox.css" rel="stylesheet" type="text/css" media="all">
<link href="{NCCMS:$StylePath}/css/elements.css" rel="stylesheet" type="text/css" media="all">
<link href="{NCCMS:$StylePath}/css/style.css" rel="stylesheet" type="text/css" media="all">
<link href="{NCCMS:$StylePath}/css/responsive.css" rel="stylesheet" type="text/css" media="screen">
<link href="{NCCMS:$StylePath}/css/hidpi.css" rel="stylesheet" type="text/css" media="screen">
<link href="{NCCMS:$StylePath}/css/skin.css" rel="stylesheet" type="text/css" media="all">
<link href="{NCCMS:$StylePath}/css/custom.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
<div class="websiteWrapper"> 
<!-- 页头 开始 -->
{NCCMS-include:Header}
<!-- 页头 结束 -->
<div class="sliderOuterWrapper">
<div class="sliderWrapper">
<div class="mainSlider" id="mainSlider">
{NCCMS-Index:Type=1,Count=4}
<a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="imgPlay" style="height:240px;object-fit:cover;"></a>
{/NCCMS-Index}
</div>
</div>
</div>
<div class="pageBreak sliderBreak"></div>
<div class="homeQuote">
{NCCMS-TAd}
<p style="margin:5px 0;"><a href="{NCCMS-TAd:Url}" target="_blank"><img style="width:{NCCMS-TAd:Width};height:{NCCMS-TAd:Height};" src="{NCCMS-TAd:Pic}"></a></p>
{/NCCMS-TAd}
</div>
<div class="pageWrapper homePageWrapper">
<div class="recentProjectsOuterWrapper">
<div class="recentProjectsWrapper">
<div class="recentProjects"> 
{NCCMS-Index:Type=2,Count=4}
<a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}" class="mb-20"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="imgPlay" style="height:180px;object-fit:cover;"></a> 
{/NCCMS-Index}
{NCCMS-Index:Type=3,Count=4}
<a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}" class="mb-20"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="imgPlay" style="height:180px;object-fit:cover;"></a> 
{/NCCMS-Index}
</div>
</div>
</div>
<div class="pageContentWrapper noPadding noBackground">
<div class="sectionBreak"></div>
{NCCMS-Index:Type=4,Count=4}
<div class="accordionWrapper"><div class="accordionContent"><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="imgPlay" style="height:200px;object-fit:cover;"></a></div></div>
{/NCCMS-Index}
{NCCMS-Index:Type=5,Count=4}
<div class="accordionWrapper"><div class="accordionContent"><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="imgPlay" style="height:200px;object-fit:cover;"></a></div></div>
{/NCCMS-Index}
{NCCMS-Index:Type=7,Count=4}
<div class="accordionWrapper"><div class="accordionContent"><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="imgPlay" style="height:200px;object-fit:cover;"></a></div></div>
{/NCCMS-Index}
{NCCMS-Index:Type=8,Count=4}
<div class="accordionWrapper"><div class="accordionContent"><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="imgPlay" style="height:200px;object-fit:cover;"></a></div></div>
{/NCCMS-Index}
</div>
</div>
<!-- 页尾 开始 -->
{NCCMS-include:Footer}
<!-- 页尾 结束 -->
</div>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/effects.jquery-ui.min.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/jquery.nivo-slider.min.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/jquery.colorbox.min.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/custom.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/language.js"></script>
</body>
</html>