<!DOCTYPE html>
<html lang="en-US">
<head>
<title>{NCCMS:$WebTitle}</title>
<meta name="author" content="{NCCMS:$WebKeywords}">
<meta name="keywords" content="{NCCMS:$WebKeywords}" />
<meta name="description" content="{NCCMS:$WebDescription}">
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="x-ua-compatible">
<meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<link rel="stylesheet" type="text/css" href="{NCCMS:$StylePath}/css/style.css?21042016">
<link rel="stylesheet" type="text/css" href="{NCCMS:$StylePath}/css/responsive.css">
<link rel="shortcut icon" href="{NCCMS:$StylePath}/img/favicon.png">
</head>
<body>
<div id="main">
<!-- 页头 开始 -->
{NCCMS-include:Header}
<!-- 页头 结束 -->
<div class="featured-slider animated fadeInRight">
{NCCMS-Index:Type=1,Count=4}
<div class="featured-item"><div class="thumb"><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="imgPlay" style="height:240px;object-fit:cover;"></a></div><div class="overlay"></div><div class="caption"><div class="issue"><span>{NCCMS-Index:Rand} 人观看</span></div><h2><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}">{NCCMS-Index:Name}</a></h2></div></div>
{/NCCMS-Index}
</div>
<div class="content-container animated fadeInUp">
<div class="widget-box">
{NCCMS-TAd}
<p style="margin:5px 0;"><a href="{NCCMS-TAd:Url}" target="_blank"><img style="width:{NCCMS-TAd:Width};height:{NCCMS-TAd:Height};" src="{NCCMS-TAd:Pic}"></a></p>
{/NCCMS-TAd}
<h3 class="widget-title"><span>最新视频</span></h3>
{NCCMS-Index:Type=2,Count=5}
<a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}" class="small-listing-item"><div class="entry-thumb"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="imgPlay" style="height:200px;object-fit:cover;"></div></a>
{/NCCMS-Index}
{NCCMS-Index:Type=3,Count=5}
<a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}" class="small-listing-item"><div class="entry-thumb"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="imgPlay" style="height:200px;object-fit:cover;"></div></a>
{/NCCMS-Index}
<div class="clear"></div>
</div>
<div class="widget-box">
<h3 class="widget-title"><span>热门视频</span></h3>
{NCCMS-Index:Type=4,Count=5}
<a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}" class="small-listing-item"><div class="entry-thumb"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="imgPlay" style="height:200px;object-fit:cover;"></div></a>
{/NCCMS-Index}
{NCCMS-Index:Type=5,Count=5}
<a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}" class="small-listing-item"><div class="entry-thumb"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="imgPlay" style="height:200px;object-fit:cover;"></div></a>
{/NCCMS-Index}
<div class="clear"></div>
</div>
<div class="widget-box">
<h3 class="widget-title"><span>推荐视频</span></h3>
<div class="widget-item-slider">
{NCCMS-Index:Type=7,Count=5}
<a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}" class="items"><div class="thumb"><div class="icon-container"><div class="icons"><i class="fa fa-play"></i></div></div>
<img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="imgPlay" style="height:100px;object-fit:cover;"></div></a>
{/NCCMS-Index}
{NCCMS-Index:Type=8,Count=5}
<a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}" class="items"><div class="thumb"><div class="icon-container"><div class="icons"><i class="fa fa-play"></i></div></div>
<img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="imgPlay" style="height:100px;object-fit:cover;"></div></a>
{/NCCMS-Index}
</div>
</div>
<div class="widget-box">
<h3 class="widget-title"><span>排行榜</span></h3>
<div class="widget-item-slider">
{NCCMS-Index:Type=9,Count=4}
<a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}" class="items"><div class="thumb"><div class="icon-container"><div class="icons"><i class="fa fa-play"></i></div></div>
<img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="imgPlay" style="height:100px;object-fit:cover;"></div></a>
{/NCCMS-Index}
{NCCMS-Index:Type=10,Count=4}
<a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}" class="items"><div class="thumb"><div class="icon-container"><div class="icons"><i class="fa fa-play"></i></div></div>
<img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="imgPlay" style="height:100px;object-fit:cover;"></div></a>
{/NCCMS-Index}
</div>
</div>
</div>
<!-- 页尾 开始 -->
{NCCMS-include:Footer}
<!-- 页尾 结束 -->
</div>
</div>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/materialize.min.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/slick.min.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/jquery.swipebox.min.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/custom.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/language.js"></script>
</body>
</html>