<!DOCTYPE html>
<html class="no-js">
<head>
<meta charset="utf-8">
<title>{NCCMS:$WebTitle}-{NCCMS:$ListName}-{NCCMS:$Name}</title>
<meta name="author" content="{NCCMS:$WebTitle}">
<meta name="keywords" content="{NCCMS:$WebKeywords},{NCCMS:$ListName},{NCCMS:$Name}">
<meta name="description" content="{NCCMS:$WebDescription},{NCCMS:$ListName},{NCCMS:$Name}">
<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{NCCMS:$StylePath}/img/apple-touch-icon-144x144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{NCCMS:$StylePath}/img/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{NCCMS:$StylePath}/img/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="{NCCMS:$StylePath}/img/apple-touch-icon-57x57-precomposed.png">
<link rel="shortcut icon" sizes="196x196" href="{NCCMS:$StylePath}/img/touch-icon-196x196.png">
<link rel="shortcut icon" href="{NCCMS:$StylePath}/img/apple-touch-icon.png">
<meta name="msapplication-TileImage" content="{NCCMS:$StylePath}/img/apple-touch-icon-144x144-precomposed.png">
<meta name="msapplication-TileColor" content="#222222">
<meta name="mobile-web-app-capable" content="yes">
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/ionicons.min.css" media="all" type="text/css">
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/animate.css">
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/materialize.min.css">
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/swipebox.min.css">
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/swiper.min.css">
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/normalize.css">
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/main.css">
</head>
<body>
<div id="main" class="main">
<div id="toolbar" class="transparent">
<div class="open-left" id="open-left" data-activates="slide-out-left"><i class="ion-android-menu white-text"></i></div>
<h1 class="title white-text"><a href="{NCCMS:$ListUrl}">{NCCMS:$ListName}</a></h1>
<div class="open-right" id="open-right" data-activates="slide-out"><i class="ion-android-person white-text"></i></div>
</div>
<!-- 页头 开始 -->
{NCCMS-include:Header}
<!-- 页头 结束 -->
<div class="animated fadeinup">
<div class="event-header" style="background:url({NCCMS:$Pic}) no-repeat center / cover !important;">
<div class="opacity-overlay"></div>
<div class="bottom p-20">
<div class="animated fadeinup delay-2">
<h3 class="title white-text">{NCCMS:$Name}</h3>
<p class="white-text">{NCCMS:$Time}</p>
<span class="event-category small white-text"><a href="{NCCMS:$CUrl}" title="{NCCMS:$Name}">在线播放</a></span>
</div>
</div>
</div>
<div class="p-20">
{NCCMS-DCAd}
<p style="margin:5px 0;"><a href="{NCCMS-DCAd:Url}" target="_blank"><img style="width:{NCCMS-DCAd:Width};height:{NCCMS-DCAd:Height};" src="{NCCMS-DCAd:Pic}"></a></p>
{/NCCMS-DCAd}
</div>
<div class="swiper-container testimonials">
<div class="swiper-wrapper">
{NCCMS-Video-Popular:Count=6}
<div class="swiper-slide center"><p class="testimonial">{NCCMS-Video-Popular:Name}</p><img src="{NCCMS-Video-Popular:Pic}" alt="{NCCMS-Video-Popular:Name}" onClick="location.href='{NCCMS-Video-Popular:DUrl}';"></div>
{/NCCMS-Video-Popular}
</div>
<div class="swiper-pagination"></div>
</div>
<div class="comments grey lighten-4">
<h5>相关推荐</h5>
{NCCMS-Video-Popular:Count=6}
<div class="animated fadeinright delay-2 m-b-20"><a href="{NCCMS-Video-Popular:DUrl}" title="{NCCMS-Video-Popular:Name}"><img src="{NCCMS-Video-Popular:Pic}" alt="{NCCMS-Video-Popular:Name}" class="imgPlay" style="height:200px;object-fit:cover;"></a></div>
{/NCCMS-Video-Popular}
</div>
<!-- 页尾 开始 -->
{NCCMS-include:Footer}
<!-- 页尾 结束 -->
</div> 
</div>
<script src="{NCCMS:$StylePath}/js/helper.js"></script>
<script src="{NCCMS:$StylePath}/js/HeadsUp.js"></script>
<script src="{NCCMS:$StylePath}/js/jquery.smoothState.js"></script>
<script src="{NCCMS:$StylePath}/js/chart.min.js"></script>
<script src="{NCCMS:$StylePath}/js/jquery.mixitup.min.js"></script>
<script src="{NCCMS:$StylePath}/js/jquery.swipebox.min.js"></script>
<script src="{NCCMS:$StylePath}/js/masonry.min.js"></script>
<script src="{NCCMS:$StylePath}/js/swiper.min.js"></script>
<script src="{NCCMS:$StylePath}/js/materialize.min.js"></script>
<script src="{NCCMS:$StylePath}/js/main.js"></script>
<script src="{NCCMS:$StylePath}/js/modernizr-2.7.1.min.js"></script>
<script src="{NCCMS:$StylePath}/js/language.js"></script>
</body>
</html>