/*!
* THEIA.CSS
*
* Main theme file. Contains most of the styles.
*
* Version 1.1
*
*/


/* Globals
-----------------------------------------------------------------------------------------------------------*/

* {
   font-family: 'Droid Serif', serif;
   font-weight: normal;
   text-shadow: none !important;   
}

div[data-role=content], .ui-content {
    padding-top: 44px;
}

div[data-role=content] img {
    width: 100%;
}

p, a {
    line-height: 1.66;
    font-weight: normal;
}

a {
    color: #7a67c0;
    text-decoration: none;
}

code, pre {
    white-space: pre-wrap;     
    white-space: -moz-pre-wrap;  
    white-space: -pre-wrap;  
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    background: #333;
    color: #c9de7c;
    border-left: 5px solid #383838;
    text-shadow: none !important;
    padding: 9px 5px 8px 5px;
    display: block;
    font-size: 12px;
}

code {
    display: inline-block;
    padding: 2px 4px 2px 0px;
}

.align-left {
    text-align: left !important;
}

.align-right {
    text-align: right !important;
}

.align-center {
    text-align: center !important;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.image-inner {
    width: 75% !important;
    max-width: 270px !important;
    display: block;
    padding: 12px 0;
    text-align: center;
    margin: 0 auto;
}

.fullwidth {
    width: 110% !important;
    width: calc(100% + 32px) !important;
    width: -webkit-calc(100% + 32px) !important;
    margin-left: -16px !important;
}

.inline {
    display: inline-block !important;
}

button.inline {
    margin-bottom: 4px;
}

.inner {
    width: 90% !important;
    width: calc(100% - 32px) !important;
    width: -webkit-calc(100% - 32px) !important;
    margin-left: 16px !important;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 1;
    margin: 1em 0 0.66em 0;
}

h2 {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    background: transparent;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5ex;
    text-shadow: none;
    font-weight: 900;
    border-bottom: 1px solid #232323;
    padding: 0 0 5px 0;
    text-decoration: none !important;
    margin: 10px 0 10px 5px;
}

h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 1;
    text-transform: capitalize;
    margin: 1em 0 0.66em 0;
}

h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    text-transform: capitalize;
    margin: 1em 0 0.66em 0;
}

h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 1px;
    margin: 1em 0 0.66em 0;
}

h6 {
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    margin: 1em 0 0.66em 0;
}

.red { background-color: #dc4949 !important; }
.yellow { background-color: #ead405 !important; }
.spacegrey { background-color: #4e4752 !important; }
.blue { background-color: #454f5c !important; }

.hidden {
    visibility: hidden;
}

/* UI styling
-----------------------------------------------------------------------------------------------------------*/

button .fa, a .fa {
    margin-right: 8px;
    vertical-align: middle;
    font-size: 18px;
    margin-bottom: 2px;
}

.ui-focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.ui-focus {
    border: 1px solid #ebce24 !important;
}

.ui-focus[data-theme=b] {
    border: 1px solid #3388cc !important;
}

.highlight {
    font-family: inherit !important;
    background: transparent;
    padding: 0.05em 0.15em 0 0.25em;
}

.highlight[data-theme=a] {
    background: #fde022;
}

.highlight[data-theme=b] {
    background: #3388cc;
}

.highlight[data-theme=c] {
    border: 1px solid #323232;
    padding: 0.3em 0.3em 0.25em 0.55em;
}

.ui-popup {
    background: #f8f8f8 !important;
    border: none !important;
}

.ui-tag {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #232323 !important;
    padding: 3px 3px 0 7px;
    margin: 5px 1px;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    background: transparent;
    font-size: 11px;
    letter-spacing: 0.66ex;
    font-weight: 400;
    border: 1px solid #232323;
}

.ui-tag:hover {
	color: #fff !important;
	background: #232323;
}

.ui-tag[data-theme=a] {
    background: #fde022;
    color: #fff !important;
    border: 1px solid #fde022;
}

.ui-tag[data-theme=a]:hover {
    background: #fff;
    color: #fde022 !important;
}

.ui-tag[data-theme=b] {
    background: #3388cc;
    color: #fff !important;
    border: 1px solid #3388cc;
}

.ui-tag[data-theme=b]:hover {
    background: #fff;
    color: #3388cc !important;
}

.ui-listview {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.ui-li-divider[data-border="true"] {
		border: none !important;
		border-bottom: 1px solid #999 !important;
}

.ui-listview h2 {
    font-weight: 300 !important;
    max-width: 150px;
    border: none;
    padding: 0;
    letter-spacing: normal;
    text-transform: none;
}

.ui-listview li a {
    padding-bottom: -100px !important;
    border: none !important;
} 

.ui-listview .ui-li-aside {
   right: 1em;
}

.ui-table {
    border: 1px solid #b6b9be !important;
}

.ui-table thead {
    background: #4563a0 !important;
    color: #fff !important;
    font-weight: 300 !important;
}

.ui-table th {
    font-weight: 300 !important;
    text-align: center;
}

.ui-table tr {
    border: 1px solid #b6b9be !important;
}

.ui-table td {
    border: 1px solid #b6b9be !important;
    text-align: center;
}

table[data-role=pricing-table] {
    background: #f6eeee;
    border: none;
    width: 100%;
    max-width: 520px;
    display: inline-block;
    color: #574f50;
    margin: 0 auto;
}

table[data-role=pricing-table] tbody th { 
    padding: 12px;
    line-height: 1.66;
}

table[data-role=pricing-table] tr:nth-child(odd) {
    background-color: #f8f8f8;
}

table[data-role=pricing-table] thead th {
    font-size: 18px;
    padding: 10px 0;
    background: #f6eeee !important;
}

table[data-role=pricing-table] .pricing-table-price {
    background: #ebce24 !important;
    color: #ffffff;
    font-size: 48px;
}

table[data-role=pricing-table] .pricing-table-price-b {
    background: #3388cc !important;
}

table[data-role=pricing-table] .pricing-table-pt {
    color: #ffffff;
    font-size: 12px;
    display: block;
    line-height: 12px;
    margin-top: -12px;
}

progress {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	height: 25px;
	width: 100%;
}

progress::-webkit-progress-bar {
	border: none;
	background: #e8e8e8;
}

progress::-webkit-progress-value {
	background: #454d59;
}

progress[data-theme=a]::-webkit-progress-value {
	background: #fde022;
}

progress[data-theme=b]::-webkit-progress-value {
	background: #3388cc;
}

progress::-moz-progress-bar {
	border: none;
	background: #e8e8e8;
}

progress::-moz-progress-value {
	background: #454d59;
}

progress[data-theme=a]::-moz-progress-value {
	background: #fde022;
}

progress[data-theme=b]::-moz-progress-value {
	background: #3388cc;
}

[data-border="false"] {
    border: none !important;
    outline: none !important;
}

[data-border="true"] {
	  border: 1px solid #999 !important;
}

.ui-title {
	padding-top: 1em;
}

[data-inner=true] {
	padding: 0 16px;
	width: 95%;
	width: calc(100% - 32px);
	width: -webkit-calc(100% - 32px);
}

/* Theia Classes
-----------------------------------------------------------------------------------------------------------*/

.theia-button, .theia-input {    
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    background: transparent;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.66ex;
    text-shadow: none;
    font-weight: 900;
    color: #232323;
    border: 1px solid #232323 !important;
    padding: 10px 8px 8px 16px;
    display: inline-block;
    margin: 0 auto;
    text-decoration: none !important;
    border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
}

.theia-input {
    width: 95%;
    width: calc(100% - 24px);
    width: -webkit-calc(100% - 24px);
    max-width: 480px;
    display: block;
    margin: 0 0 10px 0;
    padding: 10px 8px 8px 12px;
}

.theia-button[data-theme=a], .theia-input[data-theme=a] {
		background: #fde022 !important;
}

.theia-button[data-theme=b], .theia-input[data-theme=b] {
    background: #3388cc !important; 
}

.theia-input::-webkit-input-placeholder {
		color: #232323;
}

.theia-input:-moz-placeholder {
		color: #232323;
}

.theia-input::-moz-placeholder {
		color: #232323;
}

.theia-input:-ms-input-placeholder {
		color: #232323;
}

.theia-circle {
    background: none;
    border: 5px solid #2f3948;
    color: #2f3948;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    text-decoration: none;
}

.theia-circle[data-theme=a] {
    background: #fde022;
    border: none;
    color: #ffffff;
}

.theia-circle[data-theme=b] {
    background: #3388cc;
    border: none;
    color: #ffffff;   
}

.theia-circle i {
    text-align: center;
    vertical-align: middle;
    font-size: 48px;
    padding: 0;
    margin: 0;
}

.theia-text-box {
    background: none;
    border: 3px solid #232323;
    padding: 15px 10px;
    margin: 5px auto;
    font-size: 14px;
}

.theia-text-box-title {
    font-size: 14px;
    font-weight: bold !important;
    margin: 0 0 10px 0;
}

.theia-text-box p {
    margin: 0;
}

.theia-text-box-a {
    background: #ebce24;
}

.theia-text-box-b {
    background: #3388cc;
}

.theia-alert {
    display: block;
    width: 1OO%;
    margin: 10px 0;
    color: #ffffff;
    position: relative;
    max-width: 504px;
}

.theia-alert .fa {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 15px;
}

.theia-alert p {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.66ex;
    text-shadow: none;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.33;
    width: 70%;
    width: calc(100% - 100px);
    width: -webkit-calc(100% - 100px);
    position: relative;
    left: 0px;
}

.theia-alert-info {
    background: #7ab1e9;
}

.theia-alert-warning {
    background: #4563a0;
}

.theia-alert-error {
    background: #e95643;
}

.theia-alert-success {
    background: #73dd65;
}

.theia-team-box {
    text-align: center;
    margin: 0 auto 48px auto;
    max-width: 480px;
    display: block;
}

.theia-team-box img {
    width: 100px !important;
    margin: 0 0 18px 0;
}

.theia-team-box h3 {
    margin: 0;
}

.theia-team-box h4 {
    font-size: 18px;
    margin: 0.5em 0 0 0;
}

.theia-team-box p {
    margin: 12px 0 24px 0;
}

.theia-service-box {
    text-align: center;
    margin: 0 auto 48px auto;
    max-width: 480px;
    display: block;
}

.theia-service-box h3 {
    margin: 24px 0 0 0;
}

.theia-service-box p {
    margin: 12px 0 24px 0;
}

.theia-inline-slider {
    text-align: center;
    margin: 0 auto 60px auto;
    max-width: 960px;
    display: block;
}

.theia-inline-slider .item {
    margin: 24px;
}

.theia-inline-slider .theia-alert {
    text-align: left;
}

.theia-inline-slider .owl-nav-left, .theia-inline-slider .owl-nav-right {
    color: #000 !important;
}

.theia-inline-gallery {
    text-align: center;
    margin: 0 auto 1em auto;
    max-width: 960px;
    display: block;
}

.theia-inline-gallery .item {
    margin: 1em auto;
}

.theia-gallery {
    text-align: center;
    margin: 0 auto;
    width: 100% !important;
    width: calc(100% + 34px) !important;
    width: -webkit-calc(100% + 34px) !important;
    margin-left: -17px !important;
}

.theia-gallery { margin-bottom:5px;}

.theia-box {
    text-align: center;
    padding: 3px 0 22px 0;
    width: 110% !important;
    width: calc(100% + 32px) !important;
    width: -webkit-calc(100% + 32px) !important;
    margin-left: -16px !important;
}

.theia-box[data-theme=a] {
    background: #fde022;
}

.theia-box[data-theme=b] {
    background: #3388cc;
}

.menu-mark {
		font-family: "Raleway", sans-serif;
    position: absolute;
    right: 16px;
    background-color: #f00;
    color: #fff;
    font-size: 12px;
    text-align: center;
    width: 22px;
    height: 20px;
    padding-left: 1px;
    padding-top: 3px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    vertical-align: bottom;
}

.theia-navigation {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
   
}

.theia-navigation h2 {
    font-weight: 300 !important;
    max-width: 150px;
}

.theia-navigation .ui-li-divider {
		font-family: 'Raleway', Helvetica, Arial, sans-serif;
		background: transparent;
		font-size: 11px;
		text-transform: uppercase;
		letter-spacing: 0.5ex;
		text-shadow: none;
		font-weight: 900;
		border: none;
		padding: 12px 0 10px 16px;
		text-decoration: none !important;
		color: #232323;
}

.theia-navigation li a {
    padding-bottom: -100px !important;
    border: none !important;
    border-bottom: 1px solid #cacaca !important;
    font-size: 18px;
    font-weight: normal !important;
    padding-top: 1em;
    padding-bottom: 1em;
} 

.theia-navigation li a .fa {
    font-size: 22px;
    vertical-align: middle;
    margin-right: 16px;
} 

.theia-navigation li ul li a .fa {
    margin-left: 10px;
}


.theia-navigation li a:after {
    content: '';
    opacity: 0.2;
    background-image: url('../img/angle2.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40px;  
    height: 40px;
    display: block;
    position: absolute; 
    right: 4px;
    top: 17px; 
} 

.theia-navigation li.menu-item-has-children ul li a:after {
    right: 20px;
}

.theia-navigation .ui-li-aside {
   right: 1em;
}

/* Header
-----------------------------------------------------------------------------------------------------------*/

[data-role=header] {
    padding: 0;
    position: absolute;
    width: 100%;
    height: 43px;
    border: none;
    background: transparent !important;
    border-bottom: 1px solid #232323 !important;
    z-index: 999999999;
}

[data-role=header][data-position=fixed] {
    position: fixed !important;
}

[data-role=header][data-position=fixed]:after {
    display: block;
    width: 100%;
    content: " ";
    height: 1px;
    background: #f6f6f7;
    position: relative;
    top: -2px;
}

.ui-header-fixed.slidedown
{
    height: 0px !important;
}

[data-role=header] #header-menu-icon {
    display: inline-block;
    position: absolute;
    width: 28px;
    left: 5px;
    top: 10px;
}

[data-role=header] #header-menu-icon[data-position=right] {
    left: auto;
    right: 7px;
}

[data-role=header] #header-search-icon {
    display: inline-block;
    position: absolute;
    width: 15px;
    right: 7px;
    top: 13px;
}

[data-role=header] #a-search {
    width: 36px;
    height: 36px;
}

[data-role=header] .header-title {
    margin: 0 auto;
    padding: 15px 0 10px 0;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.5ex;
    font-weight: 900;
    max-width: 70%;
    color: #232323;
    border: none;
}

[data-role=header].white {
	border-bottom: 1px solid #eacd24 !important;
}

[data-role=header].white .header-title {
	color: #fde022;
}

[data-role=header].white .header-title a{color: #fde022;
}

[data-role=header] .header-back-button {
    display: inline-block;
    margin-top: 3px;
    margin-left: 0px;
    color: #232323 !important;
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
    font-family: "Source Sans Pro";
}

[data-role=header].white .header-back-button {
    color: #fff !important;
}

[data-role=header] .header-back-button i {
    margin: 0 5px;
}

#searchform 
{
	-webkit-transition: all 450ms cubic-bezier(0.665, 0.165, 0.130, 0.715);
	   -moz-transition: all 450ms cubic-bezier(0.665, 0.165, 0.130, 0.715);
		-ms-transition: all 450ms cubic-bezier(0.665, 0.165, 0.130, 0.715);
		 -o-transition: all 450ms cubic-bezier(0.665, 0.165, 0.130, 0.715);
			transition: all 450ms cubic-bezier(0.665, 0.165, 0.130, 0.715);
	
	-webkit-transition-timing-function: cubic-bezier(0.665, 0.165, 0.130, 0.715);
	   -moz-transition-timing-function: cubic-bezier(0.665, 0.165, 0.130, 0.715);
		-ms-transition-timing-function: cubic-bezier(0.665, 0.165, 0.130, 0.715);
		 -o-transition-timing-function: cubic-bezier(0.665, 0.165, 0.130, 0.715);
			transition-timing-function: cubic-bezier(0.665, 0.165, 0.130, 0.715);
    z-index: -99999999;
		position: relative;
		height: 0;
		width: 99%;
		border: none;
		margin: 0 auto 0 auto;
		text-align: center;
}

#searchform .theia-input {
    width: 90% !important;
    width: calc(100% - 36px) !important;
    width: -webkit-calc(100% - 36px) !important;
    background: #e4e5e6;
    display: inline-block;
    margin: 0;
    margin-top: 10px;
    border: none !important;
    border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    letter-spacing: normal;
    text-transform: none;
    font-weight: normal;
}

#searchform .theia-button {
    display: inline-block !important;
    background: none;
    margin-top: 18px !important;
    background-image: url('../img/search-icon-submit.png');
    background-size: 13px;
    background-repeat: no-repeat;
    border: none !important;
    margin-right: -100px !important;
    position: absolute;
    margin-left:  -26px;
    background-position: center;
    opacity: 0.5;
}

#searchform .theia-button:hover {
    opacity: 1;
}

#searchform.moved
{
		height: 52px;
		z-index: 1;
}

#searchform[data-position=fixed].moved
{
		height: 56px;
		z-index: 999999999;
		position: fixed;
		top: 46px;
}

/* Sliders
-----------------------------------------------------------------------------------------------------------*/

#main-slider {
    width: 110% !important;
    width: calc(100% + 32px) !important;
    width: -webkit-calc(100% + 32px) !important;
    margin: -44px auto 0 -16px;
    z-index: 1;
}

#main-slider .item img{
    display: block;
    width: 100% !important;
    height: auto;
}

#main-slider .item {
	padding: 0 0 5px 0px;
  width: 100% !important;
	text-align: center;
	display: block;
}

#main-slider .item button {
    border: 3px solid #f6f6f8;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    margin-top: 8px;
    display: block;
    margin: 0 auto;
}


#main-slider .item a {
    text-decoration: none;
}

#main-slider .item .text {
    position: absolute;
    display: inline-block; 
    top: 0;
    width: 94%;
    text-align: center;
    left: 0;
    padding-left: 3%;
    color: #fff;
    line-height: 1;
}

#main-slider .item .text h1 {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 60px;
	color: #fff;
	text-align: center;
	letter-spacing: -0.05ex;
	font-weight: bold;
	line-height: 1.25;
	margin-top: 27%;
	text-transform: uppercase;
}

#main-slider .item .text h1 .highlight {
    padding: 0.02em 0.15em 0.0em 0.2em;
    border: 7px solid #fff;
    font-weight: bold;
    margin-top: 0.05em;
    margin-left: 0.05em;
    display: inline-block;
    letter-spacing: 0.1ex;
}

#main-slider .item .text h2 {
    font-family: 'Droid Serif', serif;
    font-size: 24px;
    font-weight: normal;
    display: block;
    line-height: 1;
    letter-spacing: normal;
    display: inline-block; 
    top: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    max-width: 80%;
    border: none;
    text-transform: none;
}

#source {
    height: 200px !important;
}

@media all and (max-width: 480px) {
    #main-slider .item .text h1 {
      font-size: 36px;
    	margin-top: 32%;
    }
    #main-slider .item .text h2 {
        margin-bottom: 30px;
    }
    #main-slider .item .text h1 .highlight {
        border: 1px solid #fff;
    }
}


@media all and (min-width: 701px) {
    
    #main-slider .item .text h1{
    	font-size: 72px;
    	margin-top: 35%;
    	margin-bottom: 20px;
    }
    #main-slider .item .text h2{
        font-size: 30px;
        
    }
    #main-slider .item .text h1 .highlight {
        border: 3px solid #fff;
    }
}


/* Panels
-----------------------------------------------------------------------------------------------------------*/

[data-role=panel]{
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background: #f6f6f8;
    border-right: 1px solid #f6f6f8;
}

[data-role=panel][data-theme=a]{
    background: #fde022;
    border-right: 1px solid #ebce24;
}

[data-role=panel][data-theme=b]{
    background: #3388cc;
    border-right: 1px solid #3388cc;
}

.ui-panel-inner {
    padding: 24px 16px 24px 16px;
}

#sidebar, .theia-navigation {
    background: #f6f6f8 !important;
    padding: 0;
}

[data-role=panel] h4 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.4ex;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    clear: both;
    margin: 0 0 12px 0;
}

[data-role=panel] h4 .highlight {
   padding: .15em .1em .1em .4em !important;
}

#sidebar ul li a, [data-role=panel] .theia-navigation ul li a {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    background: transparent !important;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.66ex;
    text-shadow: none;
    font-weight: 900;
    color: #232323 !important;
    border: 2px solid #232323 !important;
    background: none;
    padding: 8px 8px 6px 13px !important;
    display: inline-block !important;
    margin: 4px 0 4px 17px !important;
}

ul.sub-menu li a {
    position: relative;
    left: 5px;
}

#sidebar .author img, .theia-navigation .author img {
    float: left;
    width:90%;
    margin-bottom:30px;
}

#sidebar .author h2, .theia-navigation .author h2 {
    font-family: 'Droid Serif', serif;
    font-size: 18px;
    font-weight: bold;
    display: block;
    line-height: 1;
    padding: 22px 0 0 0;
    margin: 0;
    letter-spacing: 0;
    border: none;
    text-transform: capitalize;
}

#sidebar .author h3, .theia-navigation .author h3 {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    display: block;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 0.35ex;
    font-weight: 300;
    margin-top: 5px;
}

#sidebar .menu-mark {
		font-weight: bold;
		top: 8px;
		right:90px;
}

#sidebar[data-position=right] .menu-mark {
		font-weight: bold;
		top: 8px;
		right: 12px;
}

/* Blog
-----------------------------------------------------------------------------------------------------------*/

[data-role="content"].blog {
    padding: 44px 14px 0 14px;
}

[data-role="content"].content {
    padding:10px 0;
}

[data-role="content"].blog img {
    margin: 0 0 10px 0;
}

[data-role="content"].blog .item {
    text-align: center;
    max-width: 960px;
    margin: 0 auto 0 auto;
}

[data-role="content"].blog h2 {
    font-size: 48px !important;
    line-height: 1;
    font-family: 'Droid Serif', serif;
    font-weight: bold;
    margin: 0.33em 0;
    color: #232323 !important;
    letter-spacing: normal;
    padding: 0;
    text-transform: none;
    border: none;
}

[data-role="content"].blog a { 
    color: #7a67c0;
    text-decoration: none;
}

.blog-date {
    text-transform: uppercase;
    font-size: 18px;
    display: block;
    margin: 0 0 14px 0;
    font-weight: 300;
}

.blog-date a {
    text-decoration: underline !important;
}

.blog-date a:hover {
    text-decoration: none !important;
}

.blog-prologue {
    font-size: 24px;
}

[data-role="content"].blog p {
    text-align: justify;
    margin-bottom: 18px;
}

@media all and (max-width: 800px) {
    [data-role="content"].blog .item {
        margin: 0;
        text-align: left;
    }
    [data-role="content"].blog h2 {
        font-size: 30px;
    }
    .blog-date {
        font-size: 16px;
    }
    .blog-prologue {
        font-size: 20px;
    }
}


@media all and (min-width: 801px) {
    [data-role="content"].blog .item {
        max-width: 752px;
        text-align: center;
    }
}

/* Expose
-----------------------------------------------------------------------------------------------------------*/

.expose-item {
    margin: -5px 0 0 0;
}

.expose-item .expose-title {
    width: 100%;
    display: block;
    padding: 1.1em 0 0.8em 0;
    text-align: center;
}

.expose-item .expose-title[data-theme=a] {
    background: #fde022;
    border: none;
    color: #232323;
}

.expose-item .expose-title[data-theme=b] {
    background: #3388cc;
    border: none;
    color: #232323;
}

.expose-item .expose-title span {
    display: inline-block;
    width: 90%;   
    width: calc(100% - 82px);
    width: -webkit-calc(100% - 82px);
    color: #232323;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.5ex;
    vertical-align: middle;
}

.expose-item .expose-title img {
    width: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.expose-item .container {
    padding: 0.5em 16px;
}

.expose-item .expose-image {
    
}

/* Works
-----------------------------------------------------------------------------------------------------------*/

.works-carousel {
    margin-bottom: -5px !important;
}

.works-carousel .item div {
    padding: 0 0 30px 0;
}

/* Footer
-----------------------------------------------------------------------------------------------------------*/

[data-role=footer] {
    padding: 0 15px;
    width: calc(100% - 30px);
    width: -webkit-calc(100% - 30px);
    text-align: center;
    font-size: 12px;
    margin-top: -12px !important;
}

[data-role=footer][data-border=true] {
	border-top: 1px solid #ddd !important;
}

[data-role=footer].fullwidth {
    width: 100%;
    padding: 0;
    margin: 0;
}

.imgPlay {width:100%;height:100%;} 
.imgPlay img{margin:5px;max-width:310px;_width:expression(this.width > 310 ? "310px" :this.width);}
.post-title {display:block;text-overflow:ellipsis;word-break:break-all;white-space:nowrap;overflow:hidden;width:100%;}
.embed-responsive{position:relative;display:block;height:0;padding:0;overflow:hidden}
.embed-responsive .embed-responsive-item,.embed-responsive embed,.embed-responsive iframe,.embed-responsive object,.embed-responsive video{position:absolute;top:0;bottom:0;left:0;width:100%;height:100%;border:0}
.embed-responsive-play{padding-bottom:56.25%}
.embed-responsive-headphones{padding-bottom:20%}
.embed-responsive-4by3{padding-bottom:70%}
.propa_left1,.propa_left2,.propa_left3{z-index:9999;}
.propa_right1,.propa_right2,.propa_right3{z-index:9999;}
.propa_bottom{z-index:9999;}
.color-white{color:#fff!important}
.opacity-50{opacity:.5}
.bg-highlight{background-color:#1c212a!important;color:#fff}
.pagination-round a{border-radius:35px}
.pagination{width:100%;text-align:center;margin-bottom:20px;}
.pagination a{color:#000;font-size:12px;display:inline-block;width:35px;line-height:33px;height:35px;margin:20px 5px 5px 0;border:1px solid rgba(0,0,0,.06)}
.btn-submit{width:100%;text-align:center;padding:10px;transition:all .1s linear;display:inline-block;background:#222;color:#fff;border:none;font-weight:500;cursor:pointer;border-radius:3px}
.btn-submit:hover{background:#E93255;color:#fff}.btn-submit:focus{outline:0}button{border:none;cursor:pointer}
.goog-te-banner-frame {display:none;}
#google_translate_element2 {display:none;}