<div class="mod-title">
<div id="link" class="block"><div id="title">合作伙伴</div></div>
</div>
<div class="mod-row col5 clearfix">
<ul>
<li><a href="{NCCMS:$UserUrl}" title="会员中心">会员中心</a></li>
{NCCMS-IeUrl}
<li><a href="{NCCMS-IeUrl:Url}" title="{NCCMS-IeUrl:Name}" target="_blank">{NCCMS-IeUrl:Name}</a></li>
{/NCCMS-IeUrl}
<div class="clear"></div>
</ul>
</div>
<p style="margin:10px 0; text-align:center;">&copy; Copyright {NCCMS:$WebTitle} 2021. All rights Reserved . 9Ccms By</p>
{NCCMS:$WebAdS}