<div id="nav" class="nav-wrap">
<div class="area">
<dl>
<dt><span class="logo"><a href="{NCCMS:$WEBUrl}">{NCCMS:$WebTitle}</a></span></dt>
<dd class="mt"><a href="{NCCMS:$WEBUrl}"><i class="icon-home"></i></a></dd>
<dd style="margin-right:60px;">
<form>
<input type="text" style="background-color:#FFF;padding:10px;border:0;color:#F00;" name="search" placeholder="视频搜索">
</form>
</dd>
</dl>
</div>
</div>
<div id="sliderBox"></div>
<div id="menu" class="menu-wrap">
<div class="area">
<dl class="first">
<dt><a href="#">一区</a></dt>
{NCCMS:Type=1,2,3,4,5,6}
<dd><a href="{NCCMS:Url}">{NCCMS:Name}</a></dd>
{/NCCMS:Type}
</dl>
<dl class="first">
<dt><a href="#">二区</a></dt>
{NCCMS:Type=13,14,15,16,17}
<dd><a href="{NCCMS:Url}">{NCCMS:Name}</a></dd>
{/NCCMS:Type}
</dl>

</dl>
<dl class="first" style="overflow-y:auto;height:80px;">
<dt><a href="#">赞助广告</a></dt>
<dd><a href="#" onclick="">广告1</a></dd>
<dd><a href="#" onclick="">广告2</a></dd>
<dd><a href="#" onclick="">广告3</a></dd>
<dd><a href="#" onclick="">广告4</a></dd>
<dd><a href="#" onclick="">广告5</a></dd>
<dd><a href="#" onclick="">广告6</a></dd>


<div id="google_translate_element2"></div>
</dl>
<div id="subMenuBox"></div>
</div>
</div>