<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-type" name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width"/>
<title>{NCCMS:$WebTitle}-会员中心</title>
<meta name="author" content="{NCCMS:$WebKeywords}">
<meta name="keywords" content="{NCCMS:$WebKeywords}">
<meta name="description" content="{NCCMS:$WebDescription}">
<link rel="shortcut icon" type="image/png" href="{NCCMS:$StylePath}/images/logo.ico">
<link href="{NCCMS:$StylePath}/css/home.css" rel="stylesheet" type="text/css" />
<link href="{NCCMS:$StylePath}/css/default.css" rel="stylesheet" type="text/css" />
<link href="{NCCMS:$StylePath}/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- 页头 开始 -->
{NCCMS-include:Header}
<!-- 页头 结束 -->
<div class="mod">
<div class="area">
{NCCMS-DCAd}
<p style="margin:5px 0;"><a href="{NCCMS-DCAd:Url}" target="_blank"><img src="{NCCMS-DCAd:Pic}" style="width:{NCCMS-DCAd:Width};height:{NCCMS-DCAd:Height};"></a></p>
{/NCCMS-DCAd}
<div class="mod-title">
<div id="link" class="block"><div id="title">会员中心</div></div>
</div>
<div class="mod-row col5">
<h3 class="full-bottom">剩余播放 {NCCMS:$leftNum} 次</h3>
<h3 class="full-bottom">今日邀请 {NCCMS:$todayInviteNum} 次</h3>
<h3 class="full-bottom">总邀请数 {NCCMS:$inviteNum} 次</h3>
<h3 class="full-bottom">邀请链接 {NCCMS:$inviteUrl}</h3>
<div class="btn-submit full-bottom" onclick="copyToClipboard('国产小视频，复制去浏览器打开，直接就能看，不玩套路 {NCCMS:$inviteUrl}')">国产小视频，复制去浏览器打开，直接就能看，不玩套路 {NCCMS:$inviteUrl}</div>
<div class="btn-submit full-bottom" onclick="copyToClipboard('河北父女门，上海姐弟门，山西祖孙三代乱交直播门，尽在 {NCCMS:$inviteUrl}')">河北父女门，上海姐弟门，山西祖孙三代乱交直播门，尽在 {NCCMS:$inviteUrl}</div>
<div class="btn-submit full-bottom" onclick="copyToClipboard('上万部影片，小说，图片资源，包赢，包爽，包射出，快来 {NCCMS:$inviteUrl}')">上万部影片，小说，图片资源，包赢，包爽，包射出，快来 {NCCMS:$inviteUrl}</div>
<div class="btn-submit full-bottom"><font style="text-align:center;font-size:16px;color:#ffc200;">↑ 点击上面复制 ↑</font></div>
<div class="btn-submit full-bottom">推广链接发到，微博，QQ群，贴吧，论坛等地方，有人通过您的链接进入本站，增加 10 播放次数，无上限。</div>
<script>
function copyToClipboard(s) {
if (window.clipboardData) {
window.clipboardData.setData('text', s);
} else {
(function (s) {
document.oncopy = function (e) {
e.clipboardData.setData('text', s);
e.preventDefault();
document.oncopy = null;
}
})(s);
document.execCommand('Copy');
}
alert("复制成功！（如果未复制，请长按选中复制）");
}
</script>
</div>
<div class="mod-title">
<div id="link" class="block"><div id="title">相关推荐</div></div>
</div>
<div class="mod-row col5 clearfix">
{NCCMS-Index:Type=1,Count=30}
<dl><dt><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="imgPlay"></a></dt></dl>
{/NCCMS-Index}			
</div>
<!-- 页尾 开始 -->
{NCCMS-include:Footer}
<!-- 页尾 结束 -->
</div>
</div>
<script src="{NCCMS:$StylePath}/js/language.js"></script>
</body>
</html>