<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{NCCMS:$WebTitle}-{NCCMS-Search-List:Title}</title>
<meta name="author" content="{NCCMS:$WebTitle}">
<meta name="keywords" content="{NCCMS:$WebKeywords},{NCCMS-Search-List:Title}">
<meta name="description" content="{NCCMS:$WebDescription},{NCCMS-Search-List:Title}">
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 user-scalable=no">
<meta name="mobile-web-app-capable" content="yes">
<meta name="HandheldFriendly" content="True">
<link rel="shortcut icon" href="{NCCMS:$StylePath}/img/favicon.png">
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/font-awesome.min.css">
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/framework7.material.colors.css">
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/framework7.material.css">
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/slick.css">
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/slick-theme.css">
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/owl.carousel.css">
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/owl.theme.css">
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/owl.transitions.css">
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/lightbox.min.css">
<link rel="stylesheet" href="{NCCMS:$StylePath}/css/style.css">
</head>
<body>
<!-- 页头 开始 -->
{NCCMS-include:Header}
<!-- 页头 结束 -->
<div class="views">
<div class="view view-main">
<div class="navbar">
<div class="navbar-inner">
<div class="left navbar-icon"><a href="" class="link open-panel" data-panel="left"><i class="fa fa-bars"></i></a></div>
<div class="center site-title"><a href="{NCCMS:$WEBUrl}" class="external"><h1>{NCCMS-Search-List:Title}</h1></a></div>
<div class="right navbar-icon"><a href="" class="link open-panel" data-panel="right"><i class="fa fa-language"></i></a></div>
</div>
</div>
<div class="pages">
<div class="page">
<div class="page-content">
<div class="app-pages">
<div class="blog app-section">
<div class="container">
{NCCMS-TAd}
<p style="margin:5px 0;"><a href="{NCCMS-TAd:Url}" target="_blank"><img style="width:{NCCMS-TAd:Width};height:{NCCMS-TAd:Height};" src="{NCCMS-TAd:Pic}"></a></p>
{/NCCMS-TAd}
{NCCMS-Search-List:Count=21}
<div class="entry"><a href="{NCCMS-Search-List:DUrl}" title="{NCCMS-Search-List:Name}" class="external"><img src="{NCCMS-Search-List:Pic}" alt="{NCCMS-Search-List:Name}" class="imgPlay" style="height:200px;object-fit:cover;"></a><div class="content"><h5><a href="{NCCMS-Search-List:DUrl}" title="{NCCMS-Search-List:Name}" class="external">{NCCMS-Search-List:Name}</a></h5></div></div>
{/NCCMS-Search-List}
<div class="pagination">
<ul id="wr-page">
<script src="{NCCMS:$StylePath}/js/jQuery.js"></script>
<script src="{NCCMS:$StylePath}/js/page.js?t=1"></script>
<script type="text/javascript">
$("#wr-page").wrpage({
pagesize: '{NCCMS-Search-List:totalPage}',
wr_current: '{NCCMS-Search-List:currentPage}',
baseUrl: '{NCCMS-Search-List:baseUrl}',
})
</script>
</ul>
</div>
</div>
</div>
<!-- 页尾 开始 -->
{NCCMS-include:Footer}
<!-- 页尾 结束 -->
</div>
</div>
</div>
</div>
</div>
</div>
<script src="{NCCMS:$StylePath}/js/framework7.js"></script>
<script src="{NCCMS:$StylePath}/js/slick.min.js"></script>
<script src="{NCCMS:$StylePath}/js/owl.carousel.min.js"></script>
<script src="{NCCMS:$StylePath}/js/lightbox.min.js"></script>
<script src="{NCCMS:$StylePath}/js/jquery.filterizr.min.js"></script>
<script src="{NCCMS:$StylePath}/js/my-app.js"></script>
<script src="{NCCMS:$StylePath}/js/language.js"></script>
</body>
</html>