<div class="side-nav-panel-right">
<ul id="slide-out-right" class="side-nav side-nav-panel collapsible">
<li class="li-top"><a href="{NCCMS:$WEBUrl}"><i class="fa fa-home"></i>首页</a></li>
<li class="li-top"><a href="{NCCMS:$UserUrl}"><i class="fa fa-user"></i>会员</a></li>
<li class="li-top"><div class="collapsible-header"><a href="#"><i class="fa fa-language"></i>选择语言</a></div>
<div class="collapsible-body">
<ul class="side-nav-panel">
<li><a href="#" onclick="googleTranslate('en|af');"><i class="fa fa-angle-right"></i> 南非语</a></li>
<li><a href="#" onclick="googleTranslate('en|sq');"><i class="fa fa-angle-right"></i> 阿尔巴尼亚语</a></li>
<li><a href="#" onclick="googleTranslate('en|ar');"><i class="fa fa-angle-right"></i> 阿拉伯</a></li>
<li><a href="#" onclick="googleTranslate('en|hy');"><i class="fa fa-angle-right"></i> 亚美尼亚人</a></li>
<li><a href="#" onclick="googleTranslate('en|az');"><i class="fa fa-angle-right"></i> 阿塞拜疆</a></li>
<li><a href="#" onclick="googleTranslate('en|eu');"><i class="fa fa-angle-right"></i> 巴斯克</a></li>
<li><a href="#" onclick="googleTranslate('en|be');"><i class="fa fa-angle-right"></i> 白俄罗斯语</a></li>
<li><a href="#" onclick="googleTranslate('en|bg');"><i class="fa fa-angle-right"></i> 保加利亚语</a></li>
<li><a href="#" onclick="googleTranslate('en|ca');"><i class="fa fa-angle-right"></i> 加泰罗尼亚语</a></li>
<li><a href="#" onclick="googleTranslate('en|zh-CN');"><i class="fa fa-angle-right"></i> 简体中文</a></li>
<li><a href="#" onclick="googleTranslate('en|zh-TW');"><i class="fa fa-angle-right"></i> 繁体中文</a></li>
<li><a href="#" onclick="googleTranslate('en|hr');"><i class="fa fa-angle-right"></i> 克罗地亚语</a></li>
<li><a href="#" onclick="googleTranslate('en|cs');"><i class="fa fa-angle-right"></i> 捷克文</a></li>
<li><a href="#" onclick="googleTranslate('en|da');"><i class="fa fa-angle-right"></i> 丹麦文</a></li>
<li><a href="#" onclick="googleTranslate('en|nl');"><i class="fa fa-angle-right"></i> 荷兰语</a></li>
<li><a href="#" onclick="googleTranslate('en|en');"><i class="fa fa-angle-right"></i> 英语</a></li>
<li><a href="#" onclick="googleTranslate('en|et');"><i class="fa fa-angle-right"></i> 爱沙尼亚语</a></li>
<li><a href="#" onclick="googleTranslate('en|tl');"><i class="fa fa-angle-right"></i> 菲律宾语</a></li>
<li><a href="#" onclick="googleTranslate('en|fi');"><i class="fa fa-angle-right"></i> 芬兰</a></li>
<li><a href="#" onclick="googleTranslate('en|fr');"><i class="fa fa-angle-right"></i> 法文</a></li>
<li><a href="#" onclick="googleTranslate('en|gl');"><i class="fa fa-angle-right"></i> 加利西亚人</a></li>
<li><a href="#" onclick="googleTranslate('en|ka');"><i class="fa fa-angle-right"></i> 格鲁吉亚人</a></li>
<li><a href="#" onclick="googleTranslate('en|de');"><i class="fa fa-angle-right"></i> 德语</a></li>
<li><a href="#" onclick="googleTranslate('en|el');"><i class="fa fa-angle-right"></i> 希腊语</a></li>
<li><a href="#" onclick="googleTranslate('en|ht');"><i class="fa fa-angle-right"></i> 海地克里奥尔语</a></li>
<li><a href="#" onclick="googleTranslate('en|iw');"><i class="fa fa-angle-right"></i> 希伯来语</a></li>
<li><a href="#" onclick="googleTranslate('en|hi');"><i class="fa fa-angle-right"></i> 印地语</a></li>
<li><a href="#" onclick="googleTranslate('en|hu');"><i class="fa fa-angle-right"></i> 匈牙利</a></li>
<li><a href="#" onclick="googleTranslate('en|is');"><i class="fa fa-angle-right"></i> 冰岛</a></li>
<li><a href="#" onclick="googleTranslate('en|id');"><i class="fa fa-angle-right"></i> 印度尼西亚</a></li>
<li><a href="#" onclick="googleTranslate('en|ga');"><i class="fa fa-angle-right"></i> 爱尔兰人</a></li>
<li><a href="#" onclick="googleTranslate('en|it');"><i class="fa fa-angle-right"></i> 意大利文</a></li>
<li><a href="#" onclick="googleTranslate('en|ja');"><i class="fa fa-angle-right"></i> 日本</a></li>
<li><a href="#" onclick="googleTranslate('en|ko');"><i class="fa fa-angle-right"></i> 韩语</a></li>
<li><a href="#" onclick="googleTranslate('en|lv');"><i class="fa fa-angle-right"></i> 拉脱维亚语</a></li>
<li><a href="#" onclick="googleTranslate('en|lt');"><i class="fa fa-angle-right"></i> 立陶宛语</a></li>
<li><a href="#" onclick="googleTranslate('en|mk');"><i class="fa fa-angle-right"></i> 马其顿语</a></li>
<li><a href="#" onclick="googleTranslate('en|ms');"><i class="fa fa-angle-right"></i> 马来语</a></li>
<li><a href="#" onclick="googleTranslate('en|mt');"><i class="fa fa-angle-right"></i> 马耳他语</a></li>
<li><a href="#" onclick="googleTranslate('en|no');"><i class="fa fa-angle-right"></i> 挪威</a></li>
<li><a href="#" onclick="googleTranslate('en|fa');"><i class="fa fa-angle-right"></i> 波斯语</a></li>
<li><a href="#" onclick="googleTranslate('en|pl');"><i class="fa fa-angle-right"></i> 抛光</a></li>
<li><a href="#" onclick="googleTranslate('en|pt');"><i class="fa fa-angle-right"></i> 葡萄牙语</a></li>
<li><a href="#" onclick="googleTranslate('en|ro');"><i class="fa fa-angle-right"></i> 罗马尼亚语</a></li>
<li><a href="#" onclick="googleTranslate('en|ru');"><i class="fa fa-angle-right"></i> 俄语</a></li>
<li><a href="#" onclick="googleTranslate('en|sr');"><i class="fa fa-angle-right"></i> 塞尔维亚</a></li>
<li><a href="#" onclick="googleTranslate('en|sk');"><i class="fa fa-angle-right"></i> 斯洛伐克文</a></li>
<li><a href="#" onclick="googleTranslate('en|sl');"><i class="fa fa-angle-right"></i> 斯洛文尼亚文</a></li>
<li><a href="#" onclick="googleTranslate('en|es');"><i class="fa fa-angle-right"></i> 西班牙文</a></li>
<li><a href="#" onclick="googleTranslate('en|sw');"><i class="fa fa-angle-right"></i> 斯瓦希里语</a></li>
<li><a href="#" onclick="googleTranslate('en|sv');"><i class="fa fa-angle-right"></i> 瑞典</a></li>
<li><a href="#" onclick="googleTranslate('en|th');"><i class="fa fa-angle-right"></i> 泰国</a></li>
<li><a href="#" onclick="googleTranslate('en|tr');"><i class="fa fa-angle-right"></i> 土耳其</a></li>
<li><a href="#" onclick="googleTranslate('en|uk');"><i class="fa fa-angle-right"></i> 乌克兰</a></li>
<li><a href="#" onclick="googleTranslate('en|ur');"><i class="fa fa-angle-right"></i> 乌尔都语</a></li>
<li><a href="#" onclick="googleTranslate('en|vi');"><i class="fa fa-angle-right"></i> 越南文</a></li>
<li><a href="#" onclick="googleTranslate('en|cy');"><i class="fa fa-angle-right"></i> 威尔士语</a></li>
<li><a href="#" onclick="googleTranslate('en|yi');"><i class="fa fa-angle-right"></i> 意第绪语</a></li>
<div id="google_translate_element2"></div>
</ul>
</div>
</li>
<li class="li-top"><div class="collapsible-header"><a href="#"><i class="fa fa-play"></i>视频一区</a></div>
<div class="collapsible-body">
<ul class="side-nav-panel">
{NCCMS:Type=1,2,3,4,5,6}
<li><a href="{NCCMS:Url}" title="{NCCMS:Name}"><i class="fa fa-angle-right"></i> {NCCMS:Name}</a></li>
{/NCCMS:Type}
</ul>
</div>
</li>
<li class="li-top"><div class="collapsible-header"><a href="#"><i class="fa fa-play"></i>视频二区</a></div>
<div class="collapsible-body">
<ul class="side-nav-panel">
{NCCMS:Type=7,8,9,10,11,12}
<li><a href="{NCCMS:Url}" title="{NCCMS:Name}"><i class="fa fa-angle-right"></i> {NCCMS:Name}</a></li>
{/NCCMS:Type}
</ul>
</div>
</li>
<li class="li-top"><div class="collapsible-header"><a href="#"><i class="fa fa-play"></i>视频三区</a></div>
<div class="collapsible-body">
<ul class="side-nav-panel">
{NCCMS:Type=13,14,15,16,17}
<li><a href="{NCCMS:Url}" title="{NCCMS:Name}"><i class="fa fa-angle-right"></i> {NCCMS:Name}</a></li>
{/NCCMS:Type}
</ul>
</div>
</li>
<li class="li-top"><div class="collapsible-header"><a href="#"><i class="fa fa-headphones"></i>电台收听</a></div>
<div class="collapsible-body">
<ul class="side-nav-panel">
{NCCMS:Type=31,32,33,34}
<li><a href="{NCCMS:Url}" title="{NCCMS:Name}"><i class="fa fa-angle-right"></i> {NCCMS:Name}</a></li>
{/NCCMS:Type}
</ul>
</div>
</li>
<li class="li-top"><div class="collapsible-header"><a href="#"><i class="fa fa-cloud-download"></i>种子下载</a></div>
<div class="collapsible-body">
<ul class="side-nav-panel">
{NCCMS:Type=35,36}
<li><a href="{NCCMS:Url}" title="{NCCMS:Name}"><i class="fa fa-angle-right"></i> {NCCMS:Name}</a></li>
{/NCCMS:Type}
</ul>
</div>
</li>
<li class="li-top"><div class="collapsible-header"><a href="#"><i class="fa fa-image"></i>美图专区</a></div>
<div class="collapsible-body">
<ul class="side-nav-panel">
{NCCMS:Type=25,26,27,28,29,30}
<li><a href="{NCCMS:Url}" title="{NCCMS:Name}"><i class="fa fa-angle-right"></i> {NCCMS:Name}</a></li>
{/NCCMS:Type}
</ul>
</div>
</li>
<li class="li-top"><div class="collapsible-header"><a href="#"><i class="fa fa-book"></i>小说资源</a></div>
<div class="collapsible-body">
<ul class="side-nav-panel">
{NCCMS:Type=19,20,21,22,23,24}
<li><a href="{NCCMS:Url}" title="{NCCMS:Name}"><i class="fa fa-angle-right"></i> {NCCMS:Name}</a></li>
{/NCCMS:Type}
</ul>
</div>
</li>
<li class="li-top"><div class="collapsible-header"><a href="#"><i class="fa fa-link"></i>合作伙伴</a></div>
<div class="collapsible-body">
<ul class="side-nav-panel">
{NCCMS-IeUrl}
<li><a href="{NCCMS-IeUrl:Url}" title="{NCCMS-IeUrl:Name}" target="_blank">{NCCMS-IeUrl:Name}</a></li>
{/NCCMS-IeUrl}
</ul>
</div>
</li>
</ul>
</div>