<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
<title>{NCCMS:$WebTitle}-{NCCMS-Book-List:Title}</title>
<meta name="author" content="{NCCMS:$WebTitle}">
<meta name="keywords" content="{NCCMS:$WebKeywords},{NCCMS-Book-List:Title}">
<meta name="description" content="{NCCMS:$WebDescription},{NCCMS-Book-List:Title}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-startup-image" href="{NCCMS:$StylePath}/img/apple-touch-startup-image-320x460.png">
<link rel="stylesheet" type="text/css" href="{NCCMS:$StylePath}/css/framework7.css">
<link rel="stylesheet" type="text/css" href="{NCCMS:$StylePath}/css/style.css">
<link rel="stylesheet" type="text/css" href="{NCCMS:$StylePath}/css/swipebox.css">
<link rel="stylesheet" type="text/css" href="{NCCMS:$StylePath}/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{NCCMS:$StylePath}/css/font-awesome-animation.min.css">
</head>
<body id="mobile-device">
<!-- 页头 开始 -->
{NCCMS-include:Header}
<!-- 页头 结束 -->
<div class="views">
<div class="view view-main">
<div class="pages">
<div data-page="gallery" class="page no-toolbar no-navbar">
<div class="page-content">
<div class="navbarpages">
<div class="navbar_home_link"><a href="{NCCMS:$WEBUrl}" class="external"><img src="{NCCMS:$WebLogo}" alt="{NCCMS:$WebTitle}"></a></div>						
<div class="menu-icon"><a href="#" class="open-panel"><img src="{NCCMS:$StylePath}/img/menu.png" alt="菜单"></a></div>
</div>
<div class="section-bg-2">
<div class="container">
<h2 class="center h2-heading-top">{NCCMS-Book-List:Title}</h2>
<div class="clearfix">
<div class="row filtr-container gallery-col-50">
{NCCMS-TAd}
<p style="margin:5px 0;"><a href="{NCCMS-TAd:Url}" target="_blank"><img style="width:{NCCMS-TAd:Width};height:{NCCMS-TAd:Height};" src="{NCCMS-TAd:Pic}"></a></p>
{/NCCMS-TAd}
{NCCMS-Book-List:Count=20}
<div class="col-50 tablet-50 filtr-item" data-category="1" data-sort="Busy streets"><a href="{NCCMS-Book-List:DUrl}" title="{NCCMS-Book-List:Name}" class="external"><img src="{NCCMS-Book-List:Pic}" alt="{NCCMS-Book-List:Name}" class="img-responsive imgPlay" style="height:100px;object-fit:cover;"></a></div>
{/NCCMS-Book-List}
</div>
<div class="pagination" id="wr-page">
<script src="{NCCMS:$StylePath}/js/jQuery.js"></script>
<script src="{NCCMS:$StylePath}/js/page.js?t=1"></script>
<script type="text/javascript">
$("#wr-page").wrpage({
pagesize: '{NCCMS-Book-List:totalPage}',
wr_current: '{NCCMS-Book-List:currentPage}',
baseUrl: '{NCCMS-Book-List:baseUrl}',
})
</script>
</div>
</div>
</div>
<!-- 页尾 开始 -->
{NCCMS-include:Footer}
<!-- 页尾 结束 -->
</div>
</div>
</div>
</div>
</div>
</div>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/framework7.min.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/my-app.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/jquery.swipebox.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/jquery.filterizr.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/language.js"></script>
</body>
</html>