<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
<title>{NCCMS:$WebTitle}</title>
<meta name="author" content="{NCCMS:$WebKeywords}">
<meta name="keywords" content="{NCCMS:$WebKeywords}">
<meta name="description" content="{NCCMS:$WebDescription}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-startup-image" href="{NCCMS:$StylePath}/img/apple-touch-startup-image-320x460.png">
<link rel="stylesheet" type="text/css" href="{NCCMS:$StylePath}/css/framework7.css">
<link rel="stylesheet" type="text/css" href="{NCCMS:$StylePath}/css/style.css">
<link rel="stylesheet" type="text/css" href="{NCCMS:$StylePath}/css/swipebox.css">
<link rel="stylesheet" type="text/css" href="{NCCMS:$StylePath}/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{NCCMS:$StylePath}/css/font-awesome-animation.min.css">
</head>
<body id="mobile-device">
<!-- 页头 开始 -->
{NCCMS-include:Header}
<!-- 页头 结束 -->
<div class="views">
<div class="view view-main">
<div class="pages">
<div data-page="header" class="page no-toolbar no-navbar">
<div class="page-content">
<div class="navbarpages">
<div class="navbar_home_link"><a href="{NCCMS:$WEBUrl}" class="external"><img src="{NCCMS:$WebLogo}" alt="{NCCMS:$WebTitle}"></a></div>						
<div class="menu-icon"><a href="#" class="open-panel"><img src="{NCCMS:$StylePath}/img/menu.png" alt="菜单"></a></div>
</div>
<div id="pages_maincontent" class="header-bg margin-top-zero">						
{NCCMS-Index:Type=1,Count=4}
<div class="header-bgimage-1-space" style="background: url({NCCMS-Index:Pic});"><div class="header-text"><p class="left header-text-bg">{NCCMS-Index:Name}</p></div><div class="left"><a href="{NCCMS-Index:DUrl}" class="external button open-panel">在线播放</a></div></div>
{/NCCMS-Index}
<div class="container section-bg-2">
{NCCMS-TAd}
<p style="margin:5px 0;"><a href="{NCCMS-TAd:Url}" target="_blank"><img style="width:{NCCMS-TAd:Width};height:{NCCMS-TAd:Height};" src="{NCCMS-TAd:Pic}"></a></p>
{/NCCMS-TAd}
<div class="services-heading-top"></div>
{NCCMS-Index:Type=2,Count=4}
<div class="center features-image-bottom"><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}" class="external"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="imgPlay" style="height:200px;object-fit:cover;"></a></div>
{/NCCMS-Index}
</div>
<div class="container section-bg-1">
<div class="services-heading-top"></div>
<div class="row">
<div class="col-50 res-common-full-1 common-res-bottom">
{NCCMS-Index:Type=3,Count=5}
<div class="center"><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}" class="external"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="img-responsive imgPlay" style="height:100px;object-fit:cover;"></a></div>
{/NCCMS-Index}
</div>
<div class="col-50 res-common-full-1 common-res-bottom">
{NCCMS-Index:Type=4,Count=5}
<div class="center"><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}" class="external"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="img-responsive imgPlay" style="height:100px;object-fit:cover;"></a></div>
{/NCCMS-Index}
</div>
</div>
</div>
<div class="container section-bg-2">
<div class="section-heading-top"></div>
<div class="row">
{NCCMS-Index:Type=7,Count=4}
<div class="col-33 marketing-row-bottom res-common-full"><h4 class="left no-margin market-bottom">{NCCMS-Index:Name}</h4><p class="left content-bg white-text-separate"><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}" class="external"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="imgPlay" style="height:200px;object-fit:cover;"></a></p></div>
{/NCCMS-Index}
{NCCMS-Index:Type=8,Count=4}
<div class="col-33 marketing-row-bottom res-common-full"><h4 class="left no-margin market-bottom">{NCCMS-Index:Name}</h4><p class="left content-bg white-text-separate"><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}" class="external"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="imgPlay" style="height:200px;object-fit:cover;"></a></p></div>
{/NCCMS-Index}
</div>
</div>
<div class="container section-bg-1">
<div class="section-heading-top"></div>
<div class="row">
{NCCMS-Index:Type=9,Count=5}
<div class="col-50"><div class="left two-column-image-bottom"><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}" class="external"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="img-responsive imgPlay" style="height:100px;object-fit:cover;"></a></div></div>
{/NCCMS-Index}
{NCCMS-Index:Type=10,Count=5}
<div class="col-50"><div class="left two-column-image-bottom"><a href="{NCCMS-Index:DUrl}" title="{NCCMS-Index:Name}" class="external"><img src="{NCCMS-Index:Pic}" alt="{NCCMS-Index:Name}" class="img-responsive imgPlay" style="height:100px;object-fit:cover;"></a></div></div>
{/NCCMS-Index}
</div>						
</div>
<!-- 页尾 开始 -->
{NCCMS-include:Footer}
<!-- 页尾 结束 -->
</div>
</div>
</div>
</div>
</div>
</div>	
<script type="text/javascript" src="{NCCMS:$StylePath}/js/framework7.min.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/my-app.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/jquery.swipebox.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/jquery.filterizr.js"></script>	
<script type="text/javascript" src="{NCCMS:$StylePath}/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="{NCCMS:$StylePath}/js/language.js"></script>
</body>
</html>