<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{NCCMS:$WebTitle}-{NCCMS:$ListName}-{NCCMS:$Name}视频介绍</title>
	<meta name="keywords" content="{NCCMS:$WebKeywords},{NCCMS:$ListName},{NCCMS:$Name}" />
	<meta name="description" content="{NCCMS:$WebDescription},{NCCMS:$ListName},{NCCMS:$Name}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{NCCMS:$StylePath}/css/uikit.min.css" />
    <link rel="stylesheet" href="{NCCMS:$StylePath}/css/common.min.css" />
    <link rel="stylesheet" href="{NCCMS:$StylePath}/font/iconfont.css" />
    <script src="{NCCMS:$StylePath}/js/jquery.js"></script>
    <script src="{NCCMS:$StylePath}/js/uikit.min.js"></script>
    <script src="{NCCMS:$StylePath}/js/accordion.min.js"></script>
    <link rel="icon" type="image/png" href="{NCCMS:$StylePath}/images/logo.ico">
</head>
<body>
    <div class="w1200 uk-clearfix">
			{NCCMS-include:Header}
				<div class="right-container">
                <div class="list-videos uk-margin-top uk-margin-bottom">
                    <div class="video-head uk-clearfix uk-margin-bottom">
                        <!-- 面包屑 -->
                        <div class="bred uk-float-left">
                            <p>
                                <i class="icon iconfont icon-home"></i>
                                <span>您当前位置：</span>
                                <a href="#">{NCCMS:$ListName}</a>
                                <i class="icon iconfont icon-right"></i>
                                <a href="#" class="">{NCCMS:$Name}</a>
                                <i class="icon iconfont icon-right"></i>
                                <span class="right">小说内容</span>
                            </p>
                            
                        </div>
                    </div>
					<div class="video-content art-content">
                        <h3 class="uk-text-center">{NCCMS:$Name}<!---{NCCMS:$Time}--></h3>
                        <div>{NCCMS:$Play}</div>
                    </div>
						<!-- 分割线 -->
						<div class="line"><hr></div>
						 {NCCMS-DCAd}
							<li><a target="_blank"  href="{NCCMS-DCAd:Url}"><img style="width:{NCCMS-DCAd:Width};height:{NCCMS-DCAd:Height};margin-bottom:2px;" src="{NCCMS-DCAd:Pic}"></a></li> 
						 {/NCCMS-DCAd}
						<!-- 分割线 -->					
					<div class="list-videos uk-margin-top uk-margin-bottom">
                    <div class="video-head uk-clearfix">
                        <h3 class="h3-color uk-float-left">推荐小说</h3>
                        <a href="{NCCMS:$ListUrl}" class="more">更多推荐小说</a>
                    </div>




                    <div class="video-content uk-grid uk-grid-small">
					

							{NCCMS-Book-Popular:Count=9}
							<div class="uk-width-1-3 uk-margin-bottom">
								<a href="{NCCMS-Book-Popular:DUrl}"><span class="live-tag"></span>
									<img src="{NCCMS-Book-Popular:Pic}" alt="{NCCMS-Book-Popular:Name}"></a>
								<div class="video-title">
									<a href="#" class="uk-margin-small-bottom uk-margin-small-top uk-display-block">{NCCMS-Book-Popular:Name}</a>
									<div class="uk-clearfix uk-margin-small-top">
										<p class="video-play uk-float-left"><i class="icon iconfont icon-play"></i><span>{NCCMS-Book-Popular:Rand}</span></p>
										<p class="video-like uk-float-left uk-margin-left"><i class="icon iconfont icon-like"></i><span>{NCCMS-Book-Popular:Rand}</span></p>
									</div>
								</div>
							</div>
					{/NCCMS-Book-Popular}					
					




                  
                    </div>
                </div>
				<div class="line">
                    <hr>
                </div>



        </div>				
				
				
				
				
				
				

				 <!-- 视频结束 -->				 
				</div> <!-- header.html闭合DIV -->
			{NCCMS-include:Footer}
		</div>	
	</div>
 </body>
</html>

