<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{NCCMS:$WebTitle}-{NCCMS-Radio-List:Title}-电台分类页</title>
	<meta name="keywords" content="{NCCMS:$WebKeywords},{NCCMS-Radio-List:Title}" />
	<meta name="description" content="{NCCMS:$WebDescription},{NCCMS-Radio-List:Title}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{NCCMS:$StylePath}/css/uikit.min.css" />
    <link rel="stylesheet" href="{NCCMS:$StylePath}/css/common.min.css" />
    <link rel="stylesheet" href="{NCCMS:$StylePath}/font/iconfont.css" />
    <script src="{NCCMS:$StylePath}/js/jquery.js"></script>
    <script src="{NCCMS:$StylePath}/js/uikit.min.js"></script>
	<script src="{NCCMS:$StylePath}/js/accordion.min.js"></script>
	<link rel="icon" type="image/png" href="{NCCMS:$StylePath}/images/logo.ico">
	<style type="text/css">
		.sp_wz{
			position: relative;
		}
		.sp_wz .sp_wz_two{
			position: absolute;
			 			 top: 45%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #fff;
		}
	</style>
</head>
<body>
    <div class="w1200 uk-clearfix">
			{NCCMS-include:Header}
				<div class="right-container">
					<!-- 视频分类 -->
					<div class="list-videos uk-margin-top uk-margin-bottom">
						<div class="video-head uk-clearfix"><h3 class="h3-color uk-float-left">电台{NCCMS-Radio-List:Title}</h3></div>
                     <div class="video-content uk-grid uk-grid-small">	
 
						{NCCMS-Radio-List:Count=9}	
								<div class="uk-width-1-3 uk-margin-bottom">
								<a href="{NCCMS-Radio-List:DUrl}" class="Bt-pic uk-display-block">
									<span class="live-tag"></span>
									<div class="sp_wz">
										<img src="{NCCMS-Radio-List:Pic}" alt="{NCCMS-Radio-List:Name}">
										<a href="#" class="uk-margin-small-bottom uk-margin-small-top uk-display-block sp_wz_two">{NCCMS-Radio-List:Name}</a>
									</div>
								</a>
								<div class="Bt-title">
									<div class="uk-clearfix uk-margin-small-top">
										<p class="Bt-play uk-float-left">
											<i class="icon iconfont icon-play"></i>
											<span>{NCCMS-Radio-List:Rand}</span>
										</p>
										<p class="Bt-like uk-float-left uk-margin-left">
											<i class="icon iconfont icon-like"></i>
											<span>{NCCMS-Radio-List:Rand}</span>
										</p>
									</div>
								</div>
							</div>				
						{/NCCMS-Radio-List}

                    </div>						

					</div>
				 <!-- 视频结束 -->
                 <!-- 分页 -->
                <div id="wr-page"></div>
                <script src="{NCCMS:$StylePath}/js/page.js?t=1"></script>
                <script type="text/javascript">
                    $("#wr-page").wrpage({
                        pagesize: '{NCCMS-Radio-List:totalPage}',
                        wr_current: '{NCCMS-Radio-List:currentPage}',
                        baseUrl: '{NCCMS-Radio-List:baseUrl}',
                    })
                </script>
				</div> <!-- header.html闭合DIV -->

			{NCCMS-include:Footer}
		</div>	
	</div>
 </body>
</html>

