<html>
<head>
	<title>{NCCMS:$WebTitle}-{NCCMS:$ListName}-{NCCMS:$Name}视频介绍</title>
	<meta name="keywords" content="{NCCMS:$WebKeywords},{NCCMS:$ListName},{NCCMS:$Name}" />
	<meta name="description" content="{NCCMS:$WebDescription},{NCCMS:$ListName},{NCCMS:$Name}" />
	<link rel="icon" type="image/png" href="{NCCMS:$StylePath}/img/logo.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="robots" content="index, follow" />
	<meta name="revisit-after" content="1 days" />
	<script src="{NCCMS:$StylePath}/js/jquery.min.js"></script>
	<script src="{NCCMS:$StylePath}/js/uikit.min.js"></script>

	<link rel="stylesheet" href="{NCCMS:$StylePath}/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="{NCCMS:$StylePath}/css/iconfont.css" /> 
	<link rel="stylesheet" href="{NCCMS:$StylePath}/css/m.style.css">
</head>
<body>
{NCCMS-include:Header}

<div class="art-detail">
	<h3 class="uk-text-center uk-margin-large-top">{NCCMS:$Name}</h3>
		{NCCMS:$Play}
</div>
	{NCCMS-DCAd}
	<a target="_blank"  href="{NCCMS-DCAd:Url}"><img style="width:{NCCMS-DCAd:Width};height:{NCCMS-DCAd:Height};margin-bottom:2px;" src="{NCCMS-DCAd:Pic}"></a> 
	{/NCCMS-DCAd}
<div class="v-type-favorite uk-clearfix">
	<!-- 相关视频 标题 -->
	<div class="v-type-title uk-clearfix uk-margin-top uk-margin-small-bottom"><h3 class="uk-float-left">推荐小说</h3></div>
	<!-- 视频缩略图 -->
	<ul class="recom recom-play">
		{NCCMS-Book-Popular:Count=4}
			<li>
				<a href="{NCCMS-Book-Popular:DUrl}" class="uk-display-block ">
					<div class="re-pic uk-float-left"><img  class="v-cover lazy" data-original="{NCCMS-Book-Popular:Pic}" alt="{NCCMS-Book-Popular:Name}"></div>
					<div class="re-info">
						<div class="re-h uk-margin-top-remove">{NCCMS-Book-Popular:Name}</div>
						<div class="re-detail">
							<span><i class="icon iconfont icon-play"></i>{NCCMS-Book-Popular:Rand}
							</span>
							<span><i class="icon iconfont icon-zan"></i>畅读小说乐趣无限</span>
						</div>
					</div>
				</a>
			</li>
			
		{/NCCMS-Book-Popular}					
	</ul>
</div>
{NCCMS-include:Footer}
 </body>
</html>

