<html>
<head>
	<title>{NCCMS:$WebTitle}-{NCCMS:$ListName}-{NCCMS:$Name}视频播放</title>
	<meta name="keywords" content="{NCCMS:$WebKeywords},{NCCMS:$ListName},{NCCMS:$Name}" />
	<meta name="description" content="{NCCMS:$WebDescription},{NCCMS:$ListName},{NCCMS:$Name}" />
	<link rel="icon" type="image/png" href="{NCCMS:$StylePath}/img/logo.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="robots" content="index, follow" />
	<meta name="revisit-after" content="1 days" />
	<script src="{NCCMS:$StylePath}/js/jquery.min.js"></script>
	<script src="{NCCMS:$StylePath}/js/uikit.min.js"></script>
	<link rel="stylesheet" href="{NCCMS:$StylePath}/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="{NCCMS:$StylePath}/css/iconfont.css" /> 
	<link rel="stylesheet" href="{NCCMS:$StylePath}/css/m.style.css">
</head>
<body>
{NCCMS-include:Header}
<div class="player" style="height:200px">
	{NCCMS:$Play}
</div>
<div class="desc uk-display-block">
	<hr>
	<!-- 标题 -->
	<div class="desc-title uk-clearfix uk-margin-small-bottom"><h3 class="uk-margin-remove uk-float-left">{NCCMS:$Name}</h3></div>
	<!-- 功能按钮 -->
	<div class="v-func uk-clearfix">
		<a href="#"><i class="icon iconfont icon-fenxiang"></i><span>分享</span></a>
		<a href="#"><i class="icon iconfont icon-shoucang"></i><span>收藏</span></a>
		<a href="#"><i class="icon iconfont icon-zan"></i><span>{NCCMS:$Time}</span></a>
	</div>
	<!-- 下拉信息 -->
	<div class="v-info">
		<button class="icon iconfont icon-arrow-bottom v-info-open">展开</button>
		<div class="v-info-box">
			<div class="uk-margin-small-bottom uk-margin-small-top">
				<span class="timer icon iconfont icon--eye ">ID:{NCCMS:$Id}</span>
				<span class="timer icon iconfont icon-weibiaoti--">{NCCMS:$Name}</span>
				<span class="timer icon iconfont icon-shijian">{NCCMS:$Time}</span>
			</div>
			<div class="v-info-close icon iconfont icon-arrow-top">关闭</div>
		</div>
	</div>
	{NCCMS-DCAd}
	<a target="_blank"  href="{NCCMS-DCAd:Url}"><img style="width:{NCCMS-DCAd:Width};height:{NCCMS-DCAd:Height};margin-bottom:2px;" src="{NCCMS-DCAd:Pic}"></a> 
	{/NCCMS-DCAd}
</div>
<div class="v-type-favorite uk-clearfix">
	<!-- 相关视频 标题 -->
	<div class="v-type-title uk-clearfix uk-margin-top uk-margin-small-bottom"><h3 class="uk-float-left">推荐视频</h3></div>
	<!-- 视频缩略图 -->
	<ul class="recom recom-play">
		{NCCMS-Video-Popular:Count=4}
			<li>
				<a href="{NCCMS-Video-Popular:DUrl}" class="uk-display-block ">
					<div class="re-pic uk-float-left"><img  class="v-cover lazy" data-original="{NCCMS-Video-Popular:Pic}" alt="{NCCMS-Video-Popular:Name}"></div>
					<div class="re-info">
						<div class="re-h uk-margin-top-remove">{NCCMS-Video-Popular:Name}</div>
						<div class="re-detail">
							<span><i class="icon iconfont icon-play"></i>{NCCMS-Video-Popular:Rand}
							</span>
							<span><i class="icon iconfont icon-zan"></i>{NCCMS-Video-Popular:Rand}</span>
						</div>
					</div>
				</a>
			</li>
			
		{/NCCMS-Video-Popular}					
	</ul>
</div>
{NCCMS-include:Footer}
 </body>
</html>

